{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/multiple-image-video(MIV).css' %}">
  <style>
    .btn i, .fa-star {
      margin-right: 0 !important;
    }

    .form__review .btn-check:active+.btn,
    .form__review .btn-check:checked+.btn,
    .form__review .btn.active,
    .form__review .btn.show,
    .form__review .btn:active {
      background-color: #5c55b1;
      color: #ffffff !important;
    }

    .form__review .btn-check:active+.btn i.fa-star,
    .form__review .btn-check:checked+.btn i.fa-star,
    .form__review .btn.active .btn i.fa-star,
    .form__review .btn.show .btn i.fa-star,
    .form__review .btn:active .btn i.fa-star {
      color: #ffcedb !important;
    }

    .form__btns i {
      margin-right: 0.5em !important;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Add Review{% endblock %}

{% block content %}
  <div class="profile">
    {% if request.user.is_authenticated %}
      {% comment %} Review form {% endcomment %}
      <form method="post" class="form__review dashboard__form">
        <h1>Add review on {{ product.name }}</h1>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" id="rating">
        <p> Rating: </p>
          <input type="radio" class="btn-check" name="btnradio" id="5" checked>
          <label class="btn btn-outline-primary" for="5">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <input type="radio" class="btn-check" name="btnradio" id="4">
          <label class="btn btn-outline-primary" for="4">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <input type="radio" class="btn-check" name="btnradio" id="3">
          <label class="btn btn-outline-primary" for="3">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <input type="radio" class="btn-check" name="btnradio" id="2">
          <label class="btn btn-outline-primary" for="2">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </label>
          <input type="radio" class="btn-check" name="btnradio" id="1">
          <label class="btn btn-outline-primary" for="1">
            <i class="fas fa-star"></i>
          </label>
        </div>
        <div class="form-group">
          <label for="review">Review</label>
          <textarea class="form-control" id="review" name="review" rows="3">{{ review }}</textarea>
        </div>
        {% comment %} Add multiple images {% endcomment %}
        <div class="multiple__images">
          <h2>Add multiple images</h2>
          <a class="cam" href="javascript:void(0)">
            <i class="fas fa-camera"></i>
          </a>
          <div class="gallery"></div>
        </div>
        <div class="form__btns accent">
          <a href="{% url 'my_order_details' order_number=order.order_number user=user %}" aria-label="Go to my order details page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <a class="btn btn__add" id="review-submit">
            <i class="fas fa-save"></i>
            Save Review
          </a>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="{% static 'js/multiple-image-video(MIV).js' %}"></script>
  <script>
    $(document).ready(function() {
      let csrfToken = '{{ csrf_token }}';
      $('.gallery').miv({
        image:'.cam',
      });
      // get the image files from the .gallery div
      let images = $('.gallery');
      $('#review-submit').on('click', function() {
        let rating = parseInt($('input[name=btnradio]:checked').attr('id'));
        let review = $('#review').val();
        let images = $('.gallery');
        let images_array = [];
        $('input[type=file]').each(function() {
          images_array.push($(this).prop('files')[0]);
        });
        // Create formData
        let formData = new FormData();
        formData.append('review', 'hui');
        formData.append('user', {{ request.user.id }});
        formData.append('product_id', {{ product.id }});
        formData.append('order_id', {{ order.id }});
        formData.append('rating', rating);
        formData.append('comment', review);
        images_array.forEach(function(image) {
          formData.append('images', image);
        });
        //formData.append('images', images_array);
        formData.append('csrfmiddlewaretoken', csrfToken);
        // formData to string
        let formDataString = JSON.stringify(formData);
        // create AJAX request
        $.ajax({
          url: "{% url 'add_review_with_images_ajax' %}",
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function(data) {
            if (data.success) {
              window.location.href = "{% url 'my_order_details' user=request.user order_number=order.order_number %}";
            } else {
              window.location.href = "{% url 'my_order_details' user=request.user order_number=order.order_number %}";
            }
          },
          error: function(data) {
            $('#messages-notes').remove();
            $('.bag').before('<div class="message-container" id="messages-notes">' +
              '<div class="message-container__message">' +
              '<p class="message-container__message--text">Something went wrong</p>' +
              '</div>' +
              '</div>');
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
          }
        });
      });
    });
  </script>
{% endblock %}