{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="review">
    <h1>Review on {{ review.product.name }}</h1> 
    {% if request.user == review.user %}
      <div class="warning__msg">
        Your review is recorded, if you want to render your review, you will need to contact our support service.
        It is important to provide the best service and the best experience for our users.
      </div>
    {% endif %}
    <div class="review__details">
      <div class="review__details--data">
        <strong>Rating: </strong>
        <span class="review__details--data--rating">
          {% spaceless %}
            {% for star in "12345"|make_list %}
              {% if forloop.counter <= review.rating|add:"0" %}
                <i class="fas fa-star"></i>
              {% else %}
                <i class="far fa-star"></i>
              {% endif %}
            {% endfor %}
          {% endspaceless %}
        </span>
      </div>
      <div class="review__details--data comment">
        <strong>Comment: </strong>
        <p class="review__details--data--comment">
          {% if review.comment %}
            {{ review.comment }}
          {% else %}
            No comment left.
          {% endif %}
        </p>
      </div>
      <div class="review__details--data">
        <strong>Date: </strong>
        <span class="review__details--data--date">
          {{ review.created_at|date }}
        </span>
      </div>
      <div class="review__details--data">
        <strong>Left by: </strong>
        <span class="review__details--data--user">
          {{ review.user.username }}
        </span>
      </div>
    </div>
    <div class="review__images">
      {% for image in images %}
        <div class="review__image">
          <img src="{{ image.image_url }}" alt="Review image for {{ review.product.name }} left by {{ review.user }}">
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}