{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="account">
    <h1>{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change account__form">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn__account" type="submit" name="action">{% trans "Change Password" %}</button>
      <a class="account__link forgot__password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
{% endblock %}
