{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="account">
    <h1>{% trans "Sign Up" %}</h1>
    <p class="account__paragraph">
      {% blocktrans %}
        Already have an account? Then please <a href="{{ login_url }}" class="account__link">login</a>.
      {% endblocktrans %}
    </p>
    <form class="signup account__form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn__account">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
{% endblock %}