{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="bag">
<div>Hello! This is a bag!</div>
  {% if bag_items %}
  <div class="bag__items--clean">
    clear the bag
  </div>
  <div class="bag__items">
  <div class="bag__items--titles">
    <div class="bag__items--title">sku</div>
    <div class="bag__items--title">Image</div>
    <div class="bag__items--title">Product</div>
    <div class="bag__items--title">Options</div>
        <div class="bag__items--title">Price</div>
    <div class="bag__items--title">Quantity</div>
    <div class="bag__items--title">Total</div>
    <div class="bag__items--title">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </div>
  </div>
  {% for item in bag_items %}
  {% comment %} One item {% endcomment %}
  <div class="bag__item" data-attr="{{ item.product_inventory.pk }}">
    <div>{{ item.product_inventory.sku }}</div>
    <div class="bag__item--image">
      {% if item.product_inventory.product.images.all %}
      <img src="{{ item.product_inventory.product.get_main_image }}"
        alt="Cover image for {{ item.product_inventory.product.name }}">
      {% else %}
      <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
      {% endif %}
    </div>
    <a href="{% url 'product_detail' pk=item.product_inventory.product.id %}"
      aria-label="Go to {{ item.product_inventory.product.name }}">
      {{ item.product_inventory.product.name }}
    </a>
    <div class="bag__item--values">
    {% if item.product_inventory.get_attribute_values.all == 1 %}
    {% comment %} get the first item item.product_inventory.get_attribute_values.all() {% endcomment %}
      {% for value in item.product_inventory.get_attribute_values %}
      {% comment %} <div>Options chosen</div> {% endcomment %}
      <div>{{ value.attribute_value }}</div>
      {% endfor %}
    {% else %}
      {% for value in item.product_inventory.get_attribute_values %}
        <div class="bag__item--value">{{ value.attribute_value }}</div>
      {% endfor %}
    {% endif %}
    </div>
    <div>${{ item.product_inventory.sale_price }}</div>
    <div class="bag__item--quantity">
      <div class="bag__item--quantity--minus" data-id="{{ item.product_inventory.pk }}">
        {% comment %} <i class="fas fa-minus-circle"></i> {% endcomment %}
        <i class="fas fa-minus"></i>
      </div>
      <div class="bag__item--quantity--main">{{ item.quantity }}</div>
      <div class="bag__item--quantity--plus" data-id="{{ item.product_inventory.pk }}">
        {% comment %} <i class="fas fa-plus-circle"></i> {% endcomment %}
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="bag__item--total">{{ item.product_item_total }}</div>
    <div class="bag__item--remove" data-id="{{ item.product_inventory.pk }}">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>
  {% endfor %}
  </div>
  <div>
    Total sum: {{ total }}
  </div>
  <div>
    Total items: {{ product_count }}
  </div>

  {% else %}
  <div>No items in bag</div>
  {% endif %}
</div>
<script>

  $(document).ready(function () {
    // minus quantity
    $('.bag__item--quantity--minus').each(function () {
      $(this).click(function (e) {
        let quantity = $(this).next().text();
        console.log(quantity)
        console.log(typeof(quantity))
        e.preventDefault();
        let productInventoryId = $(this).data('id');
        $(this).parent().append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'remove_unit_from_bag' %}",
          type: 'POST',
          data: {
            'product_inventory_id': productInventoryId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (data) {
            //$('.bag__items').html(data.bag_items);
            // add div to the page above the bag class with the message
            if (data.message_alert) {
              $('#messages-notes').remove();
              $('.bag').before('<div class="message-container" id="messages-notes">' +
                '<div class="message-container__message">' +
                '<p class="message-container__message--text">' + data.message_alert + '</p>' +
                '</div>' +
                '</div>');
            }
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
            console.log(data.quantity)
            console.log(typeof(data.quantity))
            // check if data.quantity is 0:
            if (data.quantity == 0) {
              $('.bag__item[data-attr="' + productInventoryId + '"]').hide();
            } else {
              $(this).parent().next().text(data.total);
              // get element with data-attr = productInventoryId
              // change the quantity
              $('.bag__item[data-attr="' + productInventoryId + '"]').find('.bag__item--quantity--main').text(data.quantity);
              // change the total for the item
              $('.bag__item[data-attr="' + productInventoryId + '"]').find('.bag__item--total').text(data.product_item_total);
            }
            $('.fa-spinner').remove();
          },
          error: function (data) {
            $('#messages-notes').remove();
            $('.bag').before('<div class="message-container" id="messages-notes">' +
              '<div class="message-container__message">' +
              '<p class="message-container__message--text">Something went wrong</p>' +
              '</div>' +
              '</div>');
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
          }
        })
      })
    });

    // plus quantity
    $('.bag__item--quantity--plus').each(function () {
      $(this).click(function (e) {
        let quantity = $(this).next().text();
        console.log(quantity)
        console.log(typeof(quantity))
        //convert to integer
        quantity = parseInt(quantity);
        e.preventDefault();
        let productInventoryId = $(this).data('id');
        $(this).parent().append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'add_unit_to_bag' %}",
          type: 'POST',
          data: {
            'product_inventory_id': productInventoryId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (data) {
            //$('.bag__items').html(data.bag_items);
            // add div to the page above the bag class with the message
            if (data.message_alert) {
              $('#messages-notes').remove();
              $('.bag').before('<div class="message-container" id="messages-notes">' +
                '<div class="message-container__message">' +
                '<p class="message-container__message--text">' + data.message_alert + '</p>' +
                '</div>' +
                '</div>');
            }
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
            console.log(data.quantity)
            console.log(typeof(data.quantity))

            $(this).parent().next().text(data.total);
            // get element with data-attr = productInventoryId
            // change the quantity
            $('.bag__item[data-attr="' + productInventoryId + '"]').find('.bag__item--quantity--main').text(data.quantity);
            // change the total for the item
            $('.bag__item[data-attr="' + productInventoryId + '"]').find('.bag__item--total').text(data.product_item_total);
            $('.fa-spinner').remove();
          },
          error: function (data) {
            $('#messages-notes').remove();
            $('.bag').before('<div class="message-container" id="messages-notes">' +
              '<div class="message-container__message">' +
              '<p class="message-container__message--text">Something went wrong</p>' +
              '</div>' +
              '</div>');
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
          }
        })
      });
    });
    // remove item from bag
    $('.bag__item--remove').each(function () {
      $(this).click(function (e) {
        e.preventDefault();
        let productInventoryId = $(this).data('id');
        $(this).parent().append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'remove_all_item_units_from_bag' %}",
          type: 'POST',
          data: {
            'product_inventory_id': productInventoryId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (data) {
            //$('.bag__items').html(data.bag_items);
            // add div to the page above the bag class with the message
            if (data.message_alert) {
              $('#messages-notes').remove();
              $('.bag').before('<div class="message-container" id="messages-notes">' +
                '<div class="message-container__message">' +
                '<p class="message-container__message--text">' + data.message_alert + '</p>' +
                '</div>' +
                '</div>');
            }
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
            console.log(data.quantity)
            console.log(typeof(data.quantity))
            // check if data.quantity is 0:
            $('.bag__item[data-attr="' + productInventoryId + '"]').hide();
            $('.fa-spinner').remove();
          },
          error: function (data) {
            $('#messages-notes').remove();
            $('.bag').before('<div class="message-container" id="messages-notes">' +
              '<div class="message-container__message">' +
              '<p class="message-container__message--text">Something went wrong</p>' +
              '</div>' +
              '</div>');
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
          }
        })
      });
    });



  });

</script>
{% endblock %}