{% extends 'base.html' %}
{% load static %}


{% block content %}
  <section class="home__main">
    <div class="main__content">
      <div class="parallelogram">
        <h1 class="main__logo--text">
          <span>WoW</span>der!
        </h1>
      </div>
      <div class="main__content--subtitle">Online Store</div>
      <p>
        The best place to buy your favorite products for your daily needs.
        You will find everything in our store from food and drink to clothes and electronics.
      </p>
      <p class="last">
        We have regular discounts for our customers and additional perks for loyal customers.
        Don't hesitate to register!
        It will make your life easier at once!
      </p>
      {% if request.user.is_authenticated %}
        <a href="{% url 'products_list' %}" class=" btn__getstarted">Start Shopping</a>
      {% else %}
        <a href="{% url 'account_signup' %}" class=" btn__getstarted">Get Started</a>
      {% endif %}
    </div>
    <div class="main__image">
      <img src="{% static 'images/store.png' %}" alt="store">
    </div>
  </section>
  <section class="home__credits">
    <h2 class="home__credits--title">About us:</h2>
    <div class="credits__subsection right">
      {% comment %} Icon for high quality {% endcomment %}
      <div class="credits__image right">
        <img src="{% static 'images/high-quality.png' %}" alt="high-quality">
      </div>
      <h3 class="credits__subsection--title">The best quality</h3>
      <p>
        We take a great care of all our products: their quality, their packaging, their delivery.
        <br>
        Our team is always keeps eye on each item in our store.
      </p>
    </div>
    <div class="credits__subsection left">
      <div class="credits__image left">
        <img src="{% static 'images/best-prices.png' %}" alt="best-prices">
      </div>
      <h3 class="credits__subsection--title">The best prices</h3>
      <p>
        We have a great deals for our customers as we seek to provide the best offers.
        <br>
        Additionaly we run promotions for our loyal customers every month!
      </p>
    </div>
    <div class="credits__subsection right">
      {% comment %} Icon for privacy {% endcomment %}
      <div class="credits__image right">
        <img src="{% static 'images/privacy.png' %}" alt="privacy">
      </div>
      <h3 class="credits__subsection--title">Your privacy is our priority</h3>
      <p>
        We protect all data that we collect from you and we will not share it with anyone.
        <br>
        We ensure that your data is safe and secure.
      </p>
    </div>
    <div class="credits__subsection left">
      {% comment %} icon for fast delivery {% endcomment %}
      <div class="credits__image left">
        <img src="{% static 'images/fast-delivery.png' %}" alt="fast-delivery">
      </div>
      <h3 class="credits__subsection--title">Fast delivery</h3>
      <p>
        We have a great delivery service which is fast and reliable for our customers.
        <br>
        We will deliver your products to you in a timely manner regardless of your location.
      </p>
    </div>
    <div class="credits__subsection right">
      {% comment %} Icon for techsupport {% endcomment %}
      <div class="credits__image right">
        <img src="{% static 'images/techsupport.png' %}" alt="techsupport">
      </div>
      <h3 class="credits__subsection--title">Being in touch</h3>
      <p>
        We are always open to discuss new ideas for our products!
        <br>
        If you have any product's request or any other question, we will be happy to help you.
      </p>
    </div>
  </section>
  {% comment %} Testimonials section {% endcomment %}
  <section class="home__testimonials">
    {% comment %} Testimonials title {% endcomment %}
    <h2 class="testimonials__title">Testimonials</h2>
    <div class="testimonials">
      {% comment %} Testimonial 1 {% endcomment %}
      <div class="testimonial testimonial--1">
        <p class="description">
          Wowder is the greatest platform for online shopping. I love it!
          I am very happy with the service and the quality of the products.
        </p>
        <div class="testimonial__author">
          <div class="testimonial__author--image">
            <img src="{% static 'images/profile-1.jpg' %}" alt="Portrait of a man">
          </div>
          <div class="testimonial__author--data">
            <h3 class="testimonial__author--name">
              Stan Poter
            </h3>
            <p class="testimonial__author--position">
              Regular Customer
            </p>
          </div>
        </div>
      </div>
      {% comment %} Testimonial 2 {% endcomment %}
      <div class="testimonial">
        <p class="description">
          Since I am used to be busy with my work, I decided to use Wowder as my shopping place.
          It is a great place to buy all my daily needs.
        </p>
        <div class="testimonial__author">
          <div class="testimonial__author--image">
            <img src="{% static 'images/profile-2.jpg' %}" alt="Portrait of a man smiling">
          </div>
          <div class="testimonial__author--data">
            <h3 class="testimonial__author--name">
              Bruce Fryer
            </h3>
            <p class="testimonial__author--position">
              Business Owner
            </p>
          </div>
        </div>
      </div>
      {% comment %} Testimonial 3 {% endcomment %}
      <div class="testimonial">
        <p class="description">
          Wowder website is the best online store in the world.
          Great service and great products!
          I do love to buy everything from food to clothes.
        </p>
        <div class="testimonial__author">
          <div class="testimonial__author--image">
            <img src="{% static 'images/profile-3.jpg' %}" alt="Portrait of a woman">
          </div>
          <div class="testimonial__author--data">
            <h3 class="testimonial__author--name">
              Rita Brown
            </h3>
            <p class="testimonial__author--position">
              Loyal Customer
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}