{% extends 'base.html' %}
{% load static %}


{% block content %}
  <section class="home__main">
    <div class="main__content">
      <div class="parallelogram">
        <h1 class="main__logo--text">
          <span>Wow</span>der!
        </h1>
      </div>
      <div class="main__content--subtitle">Online Store</div>
      <p>
        The best place to buy your favorite products for your daily needs.
        You will find everything in our store from food and drink to clothes and electronics.
      </p>
      <p>
        We have regular discounts for our customers and additional perks for loyal customers.
        Don't hesitate to register!
        It will make your life easier at once!
      </p>
      <a href="{% url 'account_signup' %}" class="btn btn__getstarted">Get Started</a>
    </div>
    <div class="main__image">
      <img src="{% static 'images/store.png' %}" alt="store">
    </div>
  </section>
  <section>
    <h2>About us</h2>
    <div>
      <h3>The best quality</h3>
      <p>
        We take a great care of all our products.
        <br>
        Our team is always keeps eye on each item in our store.
      </p>
    </div>
    <div>
      <h3>The best prices</h3>
      <p>
        We have a great deals for our customers as we seek to provide the best offers.
        <br>
        Additionaly we run promotions for our loyal customers every month!
      </p>
    </div>
    <div>
      <h3>Your privacy is our priority</h3>
      <p>
        We protect all data that we collect from you and we will not share it with anyone.
        <br>
        We ensure that your data is safe and secure.
      </p>
    </div>
    <div>
      <h3>Fast delivery</h3>
      <p>
        We have a great delivery service which is fast and reliable.
        <br>
        We will deliver your products to you in a timely manner.
      </p>
    </div>
    <div>
      <h3>Being in touch</h3>
      <p>
        We are always open to discuss new ideas for our products!
        <br>
        If you have any product's request or any other question, we will be happy to help you.
      </p>
    </div>
  </section>


{% endblock %}