{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="adding__promotion">
  <div class="adding__promotion__title">
    <h1>Add Promotion</h1>
  </div>
  <form method="POST" class="adding__promotion--form">
    {% csrf_token %}
    {{ form }}
    <div class="form__btns">
      <a href="{% url 'promotions_list' %}" aria-label="Go to Promotions page" class="btn btn-primary">
        Promotions
        <i class="fas fa-gift"></i>
      </a>
      <button type="submit" class="btn btn-primary">Add Promotion</button>
    </div>
  </form>
</div>

{% endblock %}

{% block postloadjs_extra %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {

    $(function () {
      $('#id_active').checkboxradio();
    });
    //id_start_date
    //id_end_date
    $('#id_start_date').datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd',
    });
    $('#id_end_date').datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd',
    });
    $('#id_products_inventory_in_promotion').select2(
      {
        placeholder: "Select a sku",
        allowClear: true,
      }
    );
  });
</script>
{% endblock %}