{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="promotions">
  <!-- Add button add promotion -->
  <div class="promotions__add">
    <a href="#" class="btn btn-primary">
      <i class="fa fa-plus-circle"></i>
      Add Promotion
    </a>
  </div>
  {% if promotions %}
  {% for promotion in promotions %}
  <div class="promotion">
    <div class="promotion-info">
      <h3>{{ promotion.name }}</h3>
      <p>{{ promotion.description }}</p>
      <a href="{{ promotion.link }}">{{ promotion.link }}</a>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="">
    <strong>No promotions found.</strong>
  </div>
  {% endif %}
</div>


{% endblock %}

{% block postloadjs_extra %}
{% endblock %}