{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    h1 {
      display: none;
    }

    h2 {
      font-size:1.7rem !important;
    }

    label[for="id_subscription"] {
      margin-top: 1rem;
      width: 100%;
    }

    .save-form.profile-bio-edit-btn.btn.btn__add {
      margin-top: 0 !important;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Edit Address{% endblock %}

{% block content %}
  <div class="profile">
    <h1>Edit profile data</h1>
    {% comment %} Editing Profile Avatar {% endcomment %}
    <div class="avatar__edit--form dashboard__form">
      <h2 class="avatar__edit--title">Edit Profile Avatar</h2>
      <div class="profile__avatar">
        {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
        {% else %}
        <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
        {% endif %}
        <div class="avatar-buttons">
          <a class="btn btn__edit" id="edit-avatar-btn">
            <i class="fas fa-pencil-alt"></i>
            Edit
          </a>
          <a class="btn btn__delete" id="reset-avatar-btn">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>
        </div>
      </div>
      {% comment %} Editing Profile Data {% endcomment %}
      <div class="profile__forms">
        <form class="profile__edit--form" method="POST">
          <h2 class="profile__edit--title">Edit Profile Data</h2>
          {% csrf_token %}
          {% for field in profile_form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              {{ field.label_tag }}
              {{ field }}
            {% endif %}
          {% endfor %}
          <div class="btn__container">
          <a class="save-form profile-bio-edit-btn btn btn__add" id="profile-save-btn">
            <i class="fas fa-save"></i>
            Save changes
          </a>
          </div>
        </form>
        <form class="profile__password--form" method="POST">
          <h2 class="profile__password--title">Edit password</h2>
          {% csrf_token %}
          {% for field in password_form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              {{ field.label_tag }}
              {{ field }}
            {% endif %}
          {% endfor %}
          <a class="save-form password-form-btn btn btn__add" id="save-password-btn">
            <i class="fas fa-save"></i>
            Change password
          </a>
        </form>
      </div>
      {% comment %} Delete Profile Form {% endcomment %}
      <div class="profile__delete--form">
        <h2 class="profile__edit--title">Delete Your account</h2>
        <div class="btn__container">
        <a class="btn__delete btn" id="btn-delete-profile">
          <i class="fas fa-trash-alt"></i>
          Delete
        </a>
        </div>
        <div class="profile__delete--dropdown hidden" id="delete-dropwdown">
          <p>Are you sure you want to permanently delete your account?</p>
          <p>This action is irreversible!!!</p>
          <div class="btn__container">
            <div id="delete-confirm" class="btn btn__delete">Yes, delete my account</div>
            <a id="delete-cancel" href="javascript:void(0);" class="btn btn__cancel">No, cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      // reusable function for alert message
      const messagesAlertData = function(data) {
        if (data) {
          if ($('#messages-notes').length) {
            $('#messages-notes').remove();
          }
          $('.profile').before('<div class="message-container" id="messages-notes">' +
            '<div class="message-container__message">' +
              '<p class="message-container__message--text">' + data + '</p>' +
              '</div>' +
            '</div>');
        }
        setTimeout(() => {
          $('#messages-notes').remove();
        }, 3000);
      };
      const messagesAlertError = function() {
        if ($('#messages-notes').length) {
          $('#messages-notes').remove();
        }
        $('.fa-spinner').remove();
        $('.profile').before('<div class="message-container" id="messages-notes">' +
        '<div class="message-container__message">' +
        '<p class="message-container__message--text">Something went wrong</p>' +
        '</div>' +
        '</div>');
        setTimeout(() => {
          $('#messages-notes').remove();
        } , 3000);
      };
      const resetBtnControl = function() {
        $('#reset-avatar-btn i').remove();
        $('#reset-avatar-btn').prop('disabled', false);
        $('#edit-avatar-btn').prop('disabled', false);
        $('#reset-avatar-btn').html('<i class="fas fa-trash"></i>Delete');
      };
      $('#edit-avatar-btn').on('click', () => {
        let fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.accept = 'image/*';
        fileInput.click();
        $(fileInput).on('change', (e) => {
          let file = e.target.files[0];
          e.target.value = '';
          let currentAvatarUrl = $('img.avatar').attr('src');
          let editBtnBackup = $('#edit-avatar-btn');
          $('.avatar').attr('src', URL.createObjectURL(file));
          // replacing edit button with save and cancel buttons
          let buttons = `<button id="save-avatar-btn" class="btn btn__save">Save <i class="fas fa-check"></i></button>
                              <button id="cancel-avatar-btn" class="btn btn__cancel">Cancel <i class="fas fa-times"></i></button>`;
          $('#edit-avatar-btn').after(buttons);
          $('#edit-avatar-btn').hide();
          $('#cancel-avatar-btn').on('click', () => {
            $('.avatar').attr('src', currentAvatarUrl);
            $('#edit-avatar-btn').show();
            $('#save-avatar-btn').remove();
            $('#cancel-avatar-btn').remove();
          });
          $('#save-avatar-btn').on('click', () => {
            // display loading icon
            $('#save-avatar-btn i').replaceWith('<i class="fas fa-spinner fa-spin"></i>');
            // disable buttons
            $('#save-avatar-btn').prop('disabled', true);
            $('#cancel-avatar-btn').prop('disabled', true);
            let formData = new FormData();
            formData.append('avatar', file);
            formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            $.ajax({
              url: "{% url 'edit_avatar_ajax' %}",
              type: 'POST',
              processData: false,
              contentType: false,
              cache: false,
              data: formData,
              success: function (data) {
                $('.avatar').attr('src', data.avatar_url);
                $('#edit-avatar-btn').show();
                $('#save-avatar-btn').remove();
                $('#cancel-avatar-btn').remove();
                messagesAlertData('Avatar successfully updated');
              },
              error: function (data) {
                $('.avatar').attr('src', currentAvatarUrl);
                $('#edit-avatar-btn').show();
                $('#save-avatar-btn').remove();
                $('#cancel-avatar-btn').remove();
                messagesAlertError();
              }
            });
          });
        });
      });
      $('#reset-avatar-btn').on('click', () => {
        let currentAvatarUrl = $('img.avatar').attr('src');
        let defaultAvatarUrl = "{% static 'images/default_avatar.svg' %}";
        $('img.avatar').attr('src', defaultAvatarUrl);
        let confirmation = confirm('Are you sure you want to reset your avatar?');
        if (confirmation) {
          // display loading icon
          $('#reset-avatar-btn').append('<i class="fas fa-spinner fa-spin"></i>');
          // disable buttons
          $('#reset-avatar-btn').prop('disabled', true);
          $('#edit-avatar-btn').prop('disabled', true);
          $.ajax({
            url: "{% url 'reset-avatar' %}",
            type: 'POST',
            data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function (data) {
              resetBtnControl();
              messagesAlertData('Avatar successfully reset');
            },
            error: function (data) {
              resetBtnControl();              
              messagesAlertError();
            }
          });
        }
      });
      $('#id_birthday').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        yearRange: '-100:-12',
      });
      const subscriptionTextCheck = () => {
        if ($('#id_subscription').is(':checked')) {
          $('label[for="id_subscription"]').text('Click to Unsubscribe');
        } else {
          $('label[for="id_subscription"]').text('Click to Subscribe');
        }
      };
      $(function () {
        $("#id_subscription").checkboxradio();
        subscriptionTextCheck();
      });
      // set id_subscription placeholder on change
      $('#id_subscription').on('change', () => {
        subscriptionTextCheck();
      });
      const profileFormSubmit = function() {
        $('#profile-save-btn i').remove();
      };
      $('#profile-save-btn').on('click', () => {
        let form = $('.profile__edit--form');
        let data = form.serialize();
        // append 'form_type' to the data
        data += '&form_type=profile';
        $('#profile-save-btn').append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'edit_profile' user=request.user %}",
          type: 'POST',
          data: data,
          success: function (data) {
            messagesAlertData('Profile successfully updated');
            profileFormSubmit();
          },
          error: function (data) {
            messagesAlertError();
            profileFormSubmit();
          }
        });
      });
      $('#save-password-btn').on('click', () => {
        let form = $('.profile__password--form');
        let data = form.serialize();
        // append 'form_type' to the data
        data += '&form_type=password';
        // make all inputs disabled
        form.find('input').prop('disabled', true);
        // make all buttons disabled
        form.find('button').prop('disabled', true);
        // add loading icon next to save button
        $('#save-password-btn').append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'edit_profile' user=request.user %}",
          type: 'POST',
          data: data,
          success: function (data) {
            // clean all inputs
            form.find('input').val('');
            // remove loading icon
            $('#save-password-btn i').remove();
            // make all inputs enabled
            form.find('input').prop('disabled', false);
            // make all buttons enabled
            form.find('button').prop('disabled', false);
            messagesAlertData('Password successfully updated');
          },
          error: function (data) {
            // remove loading icon
            $('#save-password-btn i').remove();
            // make all inputs enabled
            form.find('input').prop('disabled', false);
            // make all buttons enabled
            form.find('button').prop('disabled', false);
            messagesAlertError();
          }
        });
      });
      // Delete account functionality
      $('#btn-delete-profile').on('click', (e) => {
        $('#delete-dropwdown').toggleClass('hidden');
        $('html, body').animate({
          scrollTop: $(document).height()
        }, 'slow');
      });
      $('#delete-cancel').on('click', (e) => {
        $('#delete-dropwdown').addClass('hidden');
      });

      // Check if #delete-confirm exists
      if ($('#delete-confirm').length) {
        $('#delete-confirm').on('click', (e) => {
          $.ajax({
            url: "{% url 'delete_profile' %}",
            type: 'POST',
            data: {
              'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function (data) {
              window.location.replace(window.location.origin);
              if ($('#messages-notes').length) {
                $('#messages-notes').remove();
              }
              $('.home__main').before('<div class="message-container" id="messages-notes">' +
                '<div class="message-container__message">' +
                  '<p class="message-container__message--text">Profile successfully deleted</p>' +
                  '</div>' +
                '</div>');
            },
            error: function (data) {
              messagesAlertError();
            }
          });
        });
      }
    });
  </script>
{% endblock %}