{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <style>

  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Addresses{% endblock %}

{% block content %}
  <div class="profile">
    <h1>Your addresses:</h1>
    <div>
      <a href="{% url 'add_address' user=request.user %}" class="btn btn__add">
        <i class="fas fa-plus-circle"></i>
        Add new address
      </a>
    </div>
    <div class="addresses__all">
      {% if addresses %}
        {% for address in addresses %}
          {% if address.is_primary %}
            <div class="address__card address__card--primary">
              <div class="address__card--data">
                <div>
                  <strong>Country: </strong>{{ address.country }}
                </div>
                <div>
                  <strong>Region: </strong>{{ address.county_region }}
                </div>
                <div>
                  <strong>City: </strong>{{ address.city }}
                </div>
                <div>
                  <strong>Address Line: </strong>{{ address.address_line }}
                </div>
                <div>
                  <strong>Zip code: </strong>{{ address.zip_code }}
                </div>
                <div>
                  <strong>Phone: </strong>{{ address.phone_number }}
                </div>
                <div>
                  <strong>Primary: </strong>{{ address.is_primary }}
                </div>
              </div>
              <div class="address__card--btns">
                <a class="address__card--edit" href="{% url 'edit_address' user=request.user pk=address.pk %}"
                  aria-label="Go to Edit Address Page">
                  Edit
                  <i class="fas fa-edit"></i>
                </a>
                <a class="address__primary--btn address__card--disable" aria-label="Disable Primary Address"
                  data-id="{{ address.id }}">
                  Disable as Primary
                </a>
              </div>
            </div>
          {% else %}
            <div class="address__card">
              <div class="address__card--data">
                <div>
                  <strong>Country: </strong>{{ address.country }}
                </div>
                <div>
                  <strong>Region: </strong>{{ address.county_region }}
                </div>
                <div>
                  <strong>City: </strong>{{ address.city }}
                </div>
                <div>
                  <strong>Address Line: </strong>{{ address.address_line }}
                </div>
                <div>
                  <strong>Zip code: </strong>{{ address.zip_code }}
                </div>
                <div>
                  <strong>Phone: </strong>{{ address.phone_number }}
                </div>
                <div>
                  <strong>Primary: </strong>{{ address.is_primary }}
                </div>
              </div>
              <div class="address__card--btns">
                <a class="address__card--edit" href="{% url 'edit_address' user=request.user pk=address.pk %}"
                  aria-label="Go to Edit Address Page">
                  Edit
                  <i class="fas fa-edit"></i>
                </a>
                <a class="address__primary--btn address__card--enable" aria-label="Enable Primary Address"
                  data-id="{{ address.pk }}">
                  <div>Enable as Primary</div>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>You have no addresses.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function () {
      let disableAddress = document.querySelector('.address__card--disable');
      $('.address__primary--btn').each(function (address) {
        $(this).on('click', function (e) {
          e.preventDefault();
          let addressId = $(this).data('id');
          $(this).html('');
          $(this).append('<i class="fas fa-spinner fa-spin"></i>');
          $.ajax({
            url: "{% url 'set_primary_address' %}",
            type: 'POST',
            data: {
              'address_id': addressId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
              // reset all other addresses to not primary
              $('.address__card').each(function (address) {
                $(this).removeClass('address__card--primary');
              });
              $('.address__primary--btn').each(function (address) {
                $(this).removeClass('address__card--disable');
                $(this).addClass('address__card--enable');
                $(this).text('Enable as Primary');
                //add href
                $(this).attr('href', 'Enable primary address');
              });
              $('.fa-spinner').remove();
              if (data.primary) {
                let cardParent = $('[data-id="' + addressId + '"]').parent().parent();
                cardParent.addClass('address__card--primary');
                $('[data-id="' + addressId + '"]').removeClass('address__card--enable');
                $('[data-id="' + addressId + '"]').addClass('address__card--disable');
                $('[data-id="' + addressId + '"]').text('Disable as Primary');
                $('[data-id="' + addressId + '"]').attr('href', 'Disable primary address');
              }
              setTimeout(() => {
                $('.success-message').remove();
              }, 3000);
            },
            error: function (data) {
              $('.fa-spinner').remove();
              $('#messages-notes').remove();
              $('.profile').before('<div class="message-container" id="messages-notes">' +
                '<div class="message-container__message">' +
                '<p class="message-container__message--text">Something went wrong</p>' +
                '</div>' +
                '</div>');
              setTimeout(() => {
                $('#messages-notes').remove();
              }, 3000);
            }
          });
        });
      });
    });
  </script>
{% endblock %}