{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="">
  <div>Your addresses:</div>
  <div class="addresses__all">
    {% if addresses %}
    {% for address in addresses %}
    {% if address.is_primary %}
    <div class="address__card address__card--primary">
      <div>
        Country: {{ address.country }}
      </div>
      <div>
        County/region/state: {{ address.county_region }}
      </div>
      <div>
        City: {{ address.city }}
      </div>
      <div>
        Address Line: {{ address.address_line }}
      </div>
      <div>
        Zip/postal code: {{ address.zip_code }}
      </div>
      <div>
        Phone: {{ address.phone_number }}
      </div>
      <div>
        Primary: {{ address.is_primary }}
      </div>
      <a class="address__card--edit" href="{% url 'edit_address' user=request.user pk=address.pk %}" aria-label="Go to Edit Address Page">
      Edit
      <i class="fas fa-edit"></i>
      </a>
      <a class="address__primary--btn address__card--disable" href="#" aria-label="Disable Primary Address" data-id="{{ address.id }}">
        Disable as Primary
      </a>
    </div>
    {% else %}
    <div class="address__card">
      <div>
        Country: {{ address.country }}
      </div>
      <div>
        County/region/state: {{ address.county_region }}
      </div>
      <div>
        City: {{ address.city }}
      </div>
      <div>
        Address Line: {{ address.address_line }}
      </div>
      <div>
        Zip/postal code: {{ address.zip_code }}
      </div>
      <div>
        Phone: {{ address.phone_number }}
      </div>
      <div>
        Primary: {{ address.is_primary }}
      </div>
      <a class="address__card--edit" href="{% url 'edit_address' user=request.user pk=address.pk %}" aria-label="Go to Edit Address Page">
      Edit
            <i class="fas fa-edit"></i>
      </a>
      <a class="address__primary--btn address__card--enable" href="#" aria-label="Enable Primary Address" data-id="{{ address.pk }}">
        <div >Enable as Primary</div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
    <div>
      <a href="{% url 'add_address' user=request.user %}">
        Add new address
        <i class="fas fa-plus-circle"></i>
      </a>
    </div>
    {% else %}
    <p>You have no addresses.</p>

    {% endif %}
  </div>
</div>
</div>
<script>
  $(document).ready(function () {
    let disableAddress = document.querySelector('.address__card--disable');
    $('.address__primary--btn').each(function(address) {
      $(this).on('click', function(e) {
        e.preventDefault();
        let addressId = $(this).data('id');
        $(this).append('<i class="fas fa-spinner fa-spin"></i>');
        $.ajax({
          url: "{% url 'set_primary_address' %}",
          type: 'POST',
          data: {
            'address_id': addressId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(data) {
            console.log(data);

            // reset all other addresses to not primary
            $('.address__card').each(function(address) {
              $(this).removeClass('address__card--primary');
              
            });
            $('.address__primary--btn').each(function(address) {
              $(this).removeClass('address__card--disable');
              $(this).addClass('address__card--enable');
              $(this).text('Enable as Primary');
            });
            $('.fa-spinner').remove();
            if (data.primary) {
              let cardParent = $('[data-id="' + addressId + '"]').parent();
              console.log(cardParent);
              cardParent.addClass('address__card--primary');
              $('[data-id="' + addressId + '"]').removeClass('address__card--enable');
              $('[data-id="' + addressId + '"]').addClass('address__card--disable');
              $('[data-id="' + addressId + '"]').text('Disable as Primary');
            }
            setTimeout(() => {
              $('.success-message').remove();
            }, 3000);
          },
          error: function (data) {
            console.log(data);
          }
        });
      });
    })
  });

</script>

{% endblock %}