{% extends 'base.html' %}
{% load static %}
{% block content %}
  My Profile
  <div>{{ my_profile.first_name }} {{ my_profile.last_name }}</div>
  {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
  {% else %}
    <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
  {% endif %}
  <div>
    <a href="{% url 'edit_profile' user=request.user %}" aria-label="Go to Edit My Profile Page">Edit Profile</a>
  </div>

  <div>
    {% if my_addresses %}
      {% if primary_address %}
        Your primary address is:
        <div>
        {% for address in primary_address %}
          {{ address.country }}
          {{ address.county_region }}
          {{ address.city }}
          {{ address.address_line }}
          {{ address.zip_code }}
          {{ address.phone_number }}
        {% endfor %}
        </div>
      {% else %}
        You haven't added the primary address
      {% endif %}
      <div>
        <a href="{% url 'my_addresses' user=request.user %}" aria-label="Go to Manage My Addresses Page">Manage my addresses</a>
      </div>
    {% else %}
      <div>No addresses found</div>
      <div>
        <a href="{% url 'add_address' user=request.user %}" aria-label="Go to Add Address Page">Add address</a>
      </div>
    {% endif %}
  </div>
  <a href="#" aria-label="Go to My Orders Page">My orders</a>
  <a href="#" aria-label="Go to My Wishlist Page">My wishlist</a>
  <a href="#" aria-label="Go to My reviews Page">My reviews</a>

{% endblock %}