{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <style>
  .profile__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-primary--900);
    padding-top: 1em
  }
  .profile__data--address {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }

  .profile__data--address--title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-primary--900);
  }

  .profile__menu {
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .btn__profile {
    color: var(--clr-accent--700) !important;
    background-color: var(--clr-accent--100);
    margin-bottom: 0.5em;
    width: 20rem;
  }

  .btn__profile i {
    font-size: calc(60% + 0.8vmin) !important;
  }

  .btn__profile:hover {
    background-color: var(--clr-accent--200);
  }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Profile{% endblock %}

{% block content %}
  {% comment %} User's profile page {% endcomment %}
  <div class="profile profile__table">
    {% comment %} Avatar {% endcomment %}
    <div class="profile__avatar">
      {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
      {% else %}
        <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
      {% endif %}
    </div>
    {% if not my_profile.first_name == None and not my_profile.last_name == None %}
      <h1 class="profile__name">{{ my_profile.first_name }} {{ my_profile.last_name }}</h1>
    {% else %}
      <h1>Full name not set</h1>
    {% endif %}
    {% comment %} Address {% endcomment %}
    <div class="profile__data--address">
      {% comment %} If there are addresses for this user in db: {% endcomment %}
      {% if my_addresses %}
        {% comment %} If primary address is set up {% endcomment %}
        {% if primary_address %}
          <div class="profile__data--address--title">Your primary address is:</div>
          <div>
            {% for address in primary_address %}
            {{ address.country }},
            {{ address.county_region }},
            {{ address.city }},
            {{ address.address_line }},
            {{ address.zip_code }},
            {{ address.phone_number }}
            {% endfor %}
          </div>
        {% comment %} If There is no primary address chosen {% endcomment %}
        {% else %}
          <div class="profile__data--address--title">You haven't added the primary address</div>
        {% endif %}
      {% comment %} If there are no addresses for this user in db: {% endcomment %}
      {% else %}
        <div class="profile__data--address--title">No addresses found</div>
      {% endif %}
    </div>
    <div class="profile__menu">
      <a href="{% url 'edit_profile' user=request.user %}" aria-label="Go to Edit My Profile Page" class="btn btn__profile">
        <i class="fas fa-user-edit"></i>
        Edit Profile
      </a>
      {% if my_addresses %}
        <a href="{% url 'my_addresses' user=request.user %}" aria-label="Go to Manage My Addresses Page" class="btn btn__profile">
          <i class="fas fa-map-marked-alt"></i>
          My addresses
        </a>
      {% else %}
        <a href="{% url 'add_address' user=request.user %}" aria-label="Go to Add Address Page" class="btn btn__profile">
          <i class="fas fa-plus-circle"></i>
          Add address
        </a>
      {% endif %}
      {% comment %} View my orders {% endcomment %}
      <a href="{% url 'my_orders' user=request.user %}" aria-label="Go to My Orders Page" class="btn btn__profile">
        <i class="fas fa-shopping-cart"></i>
        My orders
      </a>
      {% comment %} View my wishlist {% endcomment %}
      <a href="{% url 'wishlist_display' %}" aria-label="Go to My Wishlist Page" class="btn btn__profile">
        <i class="fas fa-heart"></i>
        My wishlist
      </a>
      {% comment %} View my Reviews {% endcomment %}
      <a href="{% url 'view_users_reviews' %}" aria-label="Go to My reviews Page" class="btn btn__profile">
        <i class="fas fa-star"></i>
        My reviews
      </a>
    </div>
  </div>
{% endblock %}