{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="wishlist">
    <div>Hello! Here is your wishlist!</div>
    <div class="wishlist__items">
      {% for product in products %}
        {% if product.is_active %}
          <a class="wishlist__item" href="{% url 'product_detail' pk=product.pk %}" aria-label="Go to {{ product.name }}">
            {% if product.get_sale_price_is_lower_than_store_price %}
              <div class="wishlist__item--discount">
                <img src="{% static 'images/sale.png' %}" alt="sale Image">
              </div>
            {% endif %}
            <div class="wishlist__item--image">
              {% if product.images.all %}
                <img src="{{ product.get_main_image }}" alt="Cover image for {{ product.name }}">
              {% else %}
                <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
              {% endif %}
            </div>
            <div class="wishlist__item--name">
              {{ product.name }}
            </div>
            <div class="wishlist__item--content">
              <div class="wishlist__item--prices">
                {% if product.get_out_of_stock %}
                  <div class="wishlist__item--price price__sale">
                    <p>Out of stock</p>
                  </div>
                {% elif product.get_same_sale_price %}
                  {% if product.get_sale_price_is_lower_than_store_price %}
                    <div class="wishlist__item--price price__regular">
                      $ {{ product.get_lowest_store_price }}
                    </div>
                    <div class="wishlist__item--price price__sale">
                      $ {{ product.get_lowest_price }}
                    </div>
                  {% else %}
                    <div class="wishlist__item--price">
                      $ {{ product.get_lowest_price }}
                    </div>
                  {% endif %}
                {% else %}
                  {% if product.get_sale_price_is_lower_than_store_price %}
                    <div class="wishlist__item--price price__regular">
                      $ {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
                    </div>
                    <div class="wishlist__item--price price__sale">
                      $ {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                    </div>
                  {% else %}
                    <div class="wishlist__item--price">
                      $ {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}