{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Delete Order{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Check that user is permitted to access this page {% endcomment %}
    {% if request.user.profile.role.id == 3 %}
      {% comment %} Delete Order form {% endcomment %}
      <form class="dashboard__form form__delete" method="POST">
        <h1 class="dashboard__main--name">
          Delete Order {{ order.id }}
        </h1>
        {% comment %} add warning {% endcomment %}
        <div class="dashboard__form--warning">
          <p>
            Are you sure you want to delete this order?
          </p>
          <p>
            This action cannot be undone.
          </p>
        </div>
        {% csrf_token %}
        {{ form }}
        <div class="form__btns accent">
          <a href="{% url 'order_details' order_id=order.id %}" aria-label="Go to Order page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete Order
          </button>
        </div>
      </form>
    {% else %}
      <h1 class="dashboard__main--name">
        You are not authorized to access this page
      </h1>
    {% endif %}
  </div>
{% endblock %}