{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <style>
    input[name=quantity] {
      pointer-events: unset
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Edit Order Item{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Check that user is permitted to access this page {% endcomment %}
    {% if request.user.profile.role.id == 3 %}
    <form class="dashboard__form" method="POST">
      <h1 class="dashboard__main--name">
        Edit Order Item {{ order_item.name }}
      </h1>
      {% csrf_token %}
      {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {{ field.label_tag }}
          {{ field }}
        {% endif %}
      {% endfor %}
      <div class="form__btns accent">
        <a href="{% url 'order_details' order_id=order_item.order.id %}" aria-label="Go to Order page" class="btn btn__cancel">
          <i class="fas fa-arrow-circle-left"></i>
          Cancel
        </a>
        <button type="submit" class="btn btn__add">
          <i class="fas fa-save"></i>
          Edit Order
        </button>
      </div>
    </form>
    {% else %}
      <h1 class="dashboard__main--name">
        You are not authorized to access this page
      </h1>
    {% endif %}
  </div>
{% endblock %}