{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <style>
    .dashboard__main a {
      top: 0;
    }
    .btn_go--back {
      font-size: 0.7rem;
      top: -0.3rem !important;
      left: -0.4rem !important;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Order Details{% endblock %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="data__main--order" id="order-id" data-id="{{ order.id }}">
        <div class="dashboard__main">
          <a href="{% url 'orders' %}" aria-label="Back to all orders"
              class="btn btn__redirect btn_go--back">
            <i class="fas fa-arrow-circle-left"></i>
            Go to orders
          </a>
        </div>
        <h1 class="dashboard__main--name">Order ID {{ order.id }}</h1>
        {% if request.user.profile.role.id == 3 %}
          <div class="order__review--btns">
            <a href="{% url 'edit' order_id=order.id %}" aria-label="Edit order" class="btn btn__edit">
              <i class="fas fa-edit"></i>
              Edit
            </a>
            <a href="{% url 'delete' order_id=order.id %}" aria-label="Delete order" class="btn btn__delete">
              <i class="fas fa-trash-alt"></i>
              Delete
            </a>
          </div>
        {% endif %}
        <div class="order__num__key">
          <strong>Order Number:</strong>
          <div class="order__num">{{ order.order_number }}</div>
        </div>
        <div class="order__num__key">
          <strong>Order Key:</strong>
          <div class="order__key">{{ order.order_key }}</div>
        </div>
        <div class="order__num__key">
          <strong>Order Date:</strong> {{ order.created }}
        </div>
        <div class="order__num__key">
          <strong>Order Total:</strong> {{ order.total_paid }}
        </div>
        <div>
          <strong>Paid: </strong>
            <div>
              {% if order.billing_status %}
                <i class="fa fa-check-circle"></i>
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}
          </div>
        </div>
        <div class="order__status--edit">
          <strong>Order Status: </strong>
          {% if order.status == 'Pending' %}
            <div class="order__status order__status--pending" data-status="pending">
              PENDING
            </div>
          {% elif order.status == 'Processing' %}
            <div class="order__status order__status--processing" data-status="processing">
              PROCESSING
            </div>
          {% elif order.status == 'shipped' %}
            <div class="order__status order__status--delivery" data-status="delivery">
              IN DELIVERY
            </div>
          {% elif order.status == 'Refunded' %}
            <div class="order__status order__status--refunded" data-status="refunded">
              REFUNDED
            </div>
          {% else %}
            <div class="order__status order__status--completed" data-status="completed">
              COMPLETED
            </div>
          {% endif %}
          <select class="form-control order__status--select hidden" id="type" name="type">
            <option value="Pending" {% if order.status == 'Pending' %} selected {% endif %}>Pending</option>
            <option value="Processing" {% if order.status == 'Processing' %} selected {% endif %}>Processing</option>
            <option value="shipped" {% if order.status == 'shipped' %} selected {% endif %}>In Delivery</option>
            <option value="Refunded" {% if order.status == 'Refunded' %} selected {% endif %}>Refunded</option>
            <option value="Completed" {% if order.status == 'Completed' %} selected {% endif %}>Completed</option>
          </select>
          {% if request.user.profile.role.id == 3 or request.user.profile.role.id == 4 %}
            <div class="btn btn__edit" id="order-edit-status">
              <i class="fas fa-edit"></i>
              Edit
            </div>
            <div class="btn btn__save hidden" id="order-save-status">
              <i class="fas fa-save"></i>
              Save
          </div>
          {% endif %}
        </div>
        <div class="order__details">
          <strong>Order Details:</strong>
          <div class="order__details--units">
            {% for item in order_items %}
              <div id="{{ item.id }}" class="order__item">
                {% if request.user.profile.role.id == 3 %}
                  <div class="order__review--btns">
                    <a href="{% url 'edit_order_item' order_item_id=item.id %}" aria-label="Edit item" class="btn btn__edit">
                      <i class="fas fa-edit"></i>
                      Edit
                    </a>
                    <a href="{% url 'delete_order_item' order_item_id=item.id %}" aria-label="Delete order" class="btn btn__delete">
                      <i class="fas fa-trash-alt"></i>
                      Delete
                    </a>
                  </div>
                {% endif %}
                <div>
                  <a href="{% url 'product_detail_full' pk=item.product_inventory.product.id %}"
                    aria-label="Go to {{ item.product_inventory.product.name }}" class="bag__item--link"> 
                    <div class="bag__item--image">
                      {% if item.product_inventory.product.images.all %}
                        <img src="{{ item.product_inventory.product.get_main_image }}"
                          alt="Cover image for {{ item.product_inventory.product.name }}">
                      {% else %}
                        <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
                      {% endif %}
                    </div>
                  </a>
                </div>
                <div class="order__item--details">
                  <a href="{% url 'product_detail' pk=item.product_inventory.product.id %}"
                    aria-label="Go to {{ item.product_inventory.product.name }}" class="bag__item--link"> 
                    <strong>
                      {{ item.product_inventory.product.name|truncatechars:25 }}<i class="fa fa-external-link" aria-hidden="true"></i>
                      </strong>
                    
                  </a>
                  <div>
                    {% if item.product_inventory.get_attribute_values %}
                      <strong>Options:</strong>
                      {% for value in item.product_inventory.get_attribute_values %}
                        {{ value }}
                      {% endfor %}
                    {% endif %}
                  </div>              
                  <div>
                    <strong>Qty:</strong> {{ item.quantity }}
                  </div>
                  <div>
                    <strong>Price:</strong> {{ item.product_inventory.sale_price }}
                  </div>
                  <div>
                    <strong>Total:</strong>
                    <div class="quantity" data-quantity="{{ item.quantity }}">{{ item.quantity }}</div>
                    x <div class="price" data-price="{{ item.product_inventory.sale_price }}">{{ item.product_inventory.sale_price }}</div>
                    = <span class="items-total"></span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="order__customer--data">
          <strong>Customer Data:</strong>
          <div>
            <strong>Customer:</strong> {{ order.user }}
          </div>
          <div>
            <strong>Name:</strong> {{ order.full_name }}
          </div>
          <div>
            <strong>Email:</strong> {{ order.email }}
          </div>
          <div>
            <strong>Phone:</strong> {{ order.phone }}
          </div>
          <div>
            <strong>Zip:</strong> {{ order.zip_code }}
          </div>
          <div>
            <strong>Country:</strong> {{ order.country }}
          </div>
          <div>
            <strong>State:</strong> {{ order.county_region_state }}
          </div>
          <div>
            <strong>City:</strong> {{ order.city }}
          </div>
          <div>
            <strong>Address:</strong> {{ order.address1 }} {{ order.address2 }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function() {
      $('.order__item').each(function() {
        let quantity = $(this).find('.quantity');
        // get data-quantity from quantity div
        let quantity_value = quantity.data('quantity');
        let price = $(this).find('.price');
        // get data-price from price div
        let price_value = price.data('price');
        let items_total = $(this).find('.items-total');
        // multiply data-quantity and data-price and put it in items-total span
        items_total.text(quantity_value * price_value);
      });
      // edit order status
      let orderEditStatus = $('#order-edit-status');
      let orderStatusSelect = $('.order__status--select');
      let saveBtn = $('#order-save-status');
      // function to run on edit button click
      const editStatusPreset = function() {
        let orderStatus = $(this).parent().find('.order__status');
        let orderStatusValue = orderStatus.data('status');
        orderStatus.addClass('hidden');
        orderStatusSelect.removeClass('hidden');
        orderEditStatus.addClass('hidden');
        saveBtn.removeClass('hidden');
      };
      // if clicked, replace with select box
      orderEditStatus.on('click', editStatusPreset);
      let orderStatus;
      // if select box changed, change data-status
      orderStatusSelect.change(function() {
        orderStatusValue = $(this).val();
        orderStatus = $(this).parent().parent().find('.order__status');
        orderStatus.data('status', orderStatusValue);
        orderStatus.text(orderStatusValue);
      });
      // if save button clicked, create an ajax request to update order status
      $('#order-save-status').click(function() {
        // get order id
        //replace icon with fas fa-spinner
        $(this).find('i').replaceWith('<i class="fas fa-spinner fa-spin"></i>');
        let orderId = $('#order-id').data('id');
        $.ajax({
          url: "{% url 'update_order_status' %}",
          type: 'POST',
          data: {
            'order_id': orderId,
            'order_status': orderStatusValue,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(data) {
            $('.fa-spinner').remove();
            // replace this button with edit button
            orderStatus.removeClass('hidden');
            orderStatus.css(
              'background-color',
              'red'
            );
            orderStatusSelect.addClass('hidden');
            orderEditStatus.removeClass('hidden');
            saveBtn.addClass('hidden');
            orderEditStatus.on('click', editStatusPreset);
          },
          error: function(data) {
            $('.fa-spinner').remove();
            $('#messages-notes').remove();
            $('.bag').before('<div class="message-container" id="messages-notes">' +
              '<div class="message-container__message">' +
              '<p class="message-container__message--text">Something went wrong</p>' +
              '</div>' +
              '</div>');
            // remove the message block after 3 seconds
            setTimeout(() => {
              $('#messages-notes').remove();
            }, 3000);
          }
        });
      });
    });
  </script>
{% endblock %}