@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
  --clr-primary--100: #eaddff;
  --clr-primary--200: #d0bcff;
  --clr-primary--300: #4f378b;
  --clr-primary--400: #381e73;
  --clr-primary--500: #06032e;
  --clr-primary--700: #3d2f6d91;
  --clr-primary--800: #28253291;
  --clr-primary--900: #151422;
  --clr-accent--100: #ffd8e4;
  --clr-accent--200: #efb8c8;
  --clr-accent--700: #633b48;
  --clr-accent--900: #4a2532;
  --clr-text--100: #ffffff;
  --clr-text--200: #e7e7e7;
  --clr-text--300: #898989;
  --clr-text--500: #363636;
  --clr-text--900: #191919;
  --fs: calc(60% + 0.8vmin);
  --ff-primary: 'Lato', sans-serif;
  --br: 0.5em;
  --br-buttons: 0.2em;
  --box-shadow-buttons: 0 1px 2px rgba(0, 0, 0, 0.317);
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--fs);
  font-family: var(--ff-primary);
  background-color: var(--clr-text--200);
  color: var(--clr-text--100);
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-size: var(--fs);
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  /* color: var(--clr-accent--300); */
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.hidden {
  display: none;
}

#id_first_name,
#id_last_name,
#id_country,
#id_county_region,
#id_address_line,
#id_city,
#id_bio {
  width: 100% !important;
  height: 28px;
  line-height: 28px;
  padding-left: 8px;
  color: #444;
  font-size: large;
  line-height: 1.5em;
  border-radius: 4px;
  border: 1px solid #aaa !important;
}

#id_first_name,
#id_last_name,
#id_bio {
  width: 100%;
}

/* Address cards */

.addresses__all {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  grid-gap: 1rem;
}

.addresses__all>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--br);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: var(--clr-primary--500);
  padding: 1em;
  background-color: var(--clr-text--100);
}

.address__card--primary {
  background-color: var(--clr-primary--200) !important;
}

.addresses__all div a {
  color: var(--clr-primary--500);
}

.address__card--edit,
.address__primary--btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 0.2em 0.5em;
  border-radius: var(--br-buttons);
  box-shadow: var(--box-shadow-buttons);

}

.address__card--edit i,
.address__primary--btn i {
  font-size: 1rem;
  padding-left: 0.5rem;
  margin-top: 0.0.5em;
}

.address__primary--btn {
  padding-bottom: 0.35em;
}

.address__card--edit {
  background-color: var(--clr-primary--200);
  margin: 0.4em auto;
}

.address__card--disable {
  background-color: var(--clr-accent--100);
}

.address__card--primary .address__card--edit {
  background-color: var(--clr-primary--100);
}

.address__card--enable {
  background-color: var(--clr-accent--200);
}

.products__all {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
  grid-gap: 1rem;
}

.product__card {
  width: 100%;
  height: 100%;
  border-radius: var(--br);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: var(--clr-primary--500);
  padding: 1em;
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  gap: 0.5rem;
  position: relative;
  background-color: var(--clr-text--100);
}

.product__card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  background-color: var(--clr-primary--200);
}

.product__card--image {
  width: 100%;
}

.product__card--name {
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.product__card--discount {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  height: 5rem;
  width: 5rem;
}

.product__card--content {
  position: relative;
}

.product__card--prices {
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
}

.product__card--price {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--clr-text--500);
}

.product__card--price.price__sale {
  color: var(--clr-accent--900);
}

.product__card--price.price__regular {
  color: var(--clr-text--300);
  text-decoration: line-through;
}

/* Product Page */
.product {
  background-color: #06032e;
}

.product__title {
  position: relative;
  background-color: #c2bdff;
  padding: 2em;
  font-size: 2.5rem;
  font-weight: 900;
}

.product__title .product__card--prices {
  position: unset;
}

.product__images {
  width: 100px;
  height: 100px;
}

.carousel {
  background-color: var(--clr-text--100);
  height: 25rem;
  max-width: 25rem;
  padding-top: 1rem;
}


.carousel-indicators li {
  background-color: var(--clr-primary--200)
}


.carousel-indicators .active {
  background-color: var(--clr-primary--400);
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.carousel-item {
  padding: 50px;
  height: 100%;

}

.carousel-item img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: black;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  opacity: 1;
  background-image: none;
}

/* Options */

.product__options--title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--clr-primary--500);
  text-transform: capitalize;
}

.btn-outline-primary {
  color: var(--clr-primary--500);
  border-color: var(--clr-primary--500);
  background-color: var(--clr-primary--200);
}

.btn-outline-primary.disabled {
  background-color: var(--clr-accent--100);
  color: var(--clr-text--500);
  border-color: var(--clr-accent--200);
  opacity: 0.5 !important;
}

.option[name="Color"]+label {
  height: 5rem;
  width: 5rem;
  border-radius: 0.4em !important;
}

.option[name="size-shoes"]+label {
  border-radius: 0.4em !important;
  padding: 0.7em 0.5em;
}

.option+label:not(:last-child) {
  margin-right: 0.5rem;
}