{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <style>
    .btn.btn__add {
      background-color: #633b48;
      color: #fff;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Add Unit{% endblock %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Add Product inventory form {% endcomment %}
      <div class="row dashboard__form">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="dashboard__main--name">Add New unit to {{ product.name }}</h3>
            </div>
            <div class="panel-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="sku">SKU</label>
                  <input type="text" class="form-control" id="sku" name="sku" placeholder="Enter SKU" maxlength="50" required>
                </div>
                <div class="form-group">
                  <label for="upc">UPC</label>
                  <input type="text" class="form-control" id="upc" name="upc" placeholder="Enter UPC" maxlength="12" required>
                </div>
                <div class="form-group">
                  <label for="product_id">Product ID</label>
                  <input type="text" class="form-control" id="product_id" data-product="{{ product.id }}" name="product_id" placeholder="{{ product.name }}" readonly>
                </div>
                <div class="form-group" id="type-block">
                  <label for="type" class="form-label">Type</label>
                  <select class="form-control" id="type" name="type" required>
                    <option value="">Select Type</option>
                    {% for type in product_types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="attributes"></div>
                <div class="form-group">
                  <label for="retail_price">Retail Price</label>
                  <input type="text"  class="form-control" id="retail_price" name="retail_price" placeholder="Enter Retail Price" required>
                </div>
                <div class="form-group">
                  <label for="store_price">Store Price</label>
                  <input type="text"  class="form-control" id="store_price" name="store_price" placeholder="Enter Store Price" maxlength="9" required>
                </div>
                <div class="form-group">
                  <label for="sale_price">Sale Price</label>
                  <input type="text" class="form-control" id="sale_price" name="whole_sale_price" placeholder="Enter Whole Sale Price" maxlength="9" required>
                </div>
                <div class="form-group">
                  <label for="weight">Weight (grams)</label>
                  <input type="text"  class="form-control" id="weight" name="weight" placeholder="Enter Weight" maxlength="9" required>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="active" id="flexCheckDefault" data-active="false">
                  <label class="form-check-label" for="flexCheckDefault">
                    Active
                  </label>
                </div>
                {% comment %} Form control buttons {% endcomment %}
                <div class="form__btns accent">
                  <a href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to Promotions page" class="btn btn__cancel">
                    <i class="fas fa-arrow-circle-left"></i>
                    Back to Product
                  </a>
                  <button id="form-check" class="btn btn__add">
                    <i class="fa fa-plus-circle"></i>
                    Add Product Unit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function() {
      let product_id = $('#product_id').data('product');
      let typeId = 0;
      const onlyNumberKey = function(e) {
        // Only ASCII character in that range allowed
        if (e.which < 48 || e.which > 57) {
          e.preventDefault();
        }
      };
      const validPrice = function(e) {
        // Only ASCII character in that range allowed
        if ((e.which < 48 || e.which > 57) && e.which != 46) {
          e.preventDefault();
          }
          // get the input field
          let $input = $(e.target);
          // get the value of the input field
          let inputVal = $input.val();
          if (e.which == 46) {
            //check if input value '.' already exists
            if (inputVal.indexOf('.') > -1) {
              e.preventDefault();
            }
        }
      };
      $('#sku').on('keypress', onlyNumberKey);
      $('#upc').on('keypress', onlyNumberKey);
      $('#retail_price').on('keypress', validPrice);
      $('#store_price').on('keypress', validPrice);
      $('#sale_price').on('keypress', validPrice);
      $('#weight').on('keypress', onlyNumberKey);
      //get selected option from #type
      $('#type').on('change', function() {
        typeId = $(this).val();
        $.ajax({
          url: '{% url "get_type_attribute" %}',
          type: 'POST',
          data: {
            'type_id': typeId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(data) {
            // loop through attribute_values_dict and create inputs
            $('#attributes').empty();
            for (let key in data.attribute_values_dict) {
              let formControlBlock = '<div class="form-group">';
              formControlBlock += '<label for="' + key + '">' + key + '</label>';
              formControlBlock += '<select class="form-control" id="' + key + '" name="' + key + '"required>';
              formControlBlock += '<option value="">Select ' + key + '</option>';
              for (let i = 0; i < data.attribute_values_dict[key].length; i++) {
                formControlBlock += '<option value="' + data.attribute_values_dict[key][i] + '">' + data.attribute_values_dict[key][i] + '</option>';
              }
              formControlBlock += '</select>';
              formControlBlock += '</div>';
              $('#attributes').append(formControlBlock);
            }
          }
        });
      });
      let formData;
      let csrfToken = '{{ csrf_token }}';
      //check if all selects are filled
      $('#form-check').on('click', function(e) {
        e.preventDefault();
        let isValid = true;
        $('select').each(function() {
          if ($(this).val() == '') {
            isValid = false;
          }
        });
        if (isValid) {
          $(this).unbind('submit').submit();
          // get values of all inputs
          let formData = new FormData();
          formData.append('csrfmiddlewaretoken', csrfToken);
          formData.append('sku', $('#sku').val());
          formData.append('upc', $('#upc').val());
          formData.append('product', product_id);
          formData.append('product_type', typeId);
          let attribute_values = {};
          $('#attributes select').each(function() {
            attribute_values[$(this).attr('name')] = $(this).val();
          });
          formData.append('attribute_values', JSON.stringify(attribute_values));
          formData.append('retail_price', $('#retail_price').val());
          formData.append('store_price', $('#store_price').val());
          formData.append('sale_price', $('#sale_price').val());
          formData.append('weight', $('#weight').val());
          //check if ##flexCheckDefault checked
          if ($('#flexCheckDefault').is(':checked')) {
            formData.append('active', 'true');
          } else {
            formData.append('active', 'false');
          }
          $.ajax({
            url: '{% url "product_inventory_create" %}',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function(data) {
              if (data.success) {
                if (data.success_message) {
                  alert(data.success_message);
                  // impty all inputs
                  $('#sku').val('');
                  $('#upc').val('');
                  $('#retail_price').val('');
                  $('#store_price').val('');
                  $('#sale_price').val('');
                  $('#weight').val('');
                  $('#flexCheckDefault').prop('checked', false);
                  $('select').each(function() {
                    $(this).val('');
                  });
                  $('#attributes').empty();
                } else if (data.error_message) {
                  alert(data.error_message);
                }
              }
            },
            error: function(data) {
              alert("Error: Something went wrong. Try again later.");
            }
          });
        } else {
          alert('Please fill all selects');
        }
      });
    });
  </script>
{% endblock %}