{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
  <div class="dashboard">
    {% comment %} Check that user is permetted to access this page {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          Add new product
        </h1>
      </div>
      {% comment %} Add product form {% endcomment %}
      <form method="POST" class="adding__promotion--form">
        {% csrf_token %}
        {{ form }}
        <div class="form__btns">
          <a href="{% url 'products_table' %}" aria-label="Go to Promotions page" class="btn btn-primary">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>
            Save
          </button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $(function () {
        $('#id_is_active').checkboxradio();
      });
      $('select').addClass('js-example-basic-single');
      $('.js-example-basic-single').select2({
        placeholder: 'Type name to search',
      });
      $('#div_id_assigned_to').css('width', '100%');
    });
  </script>
{% endblock %}