{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Add Type{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Add product type form {% endcomment %}
      <form method="POST" class="dashboard__form">
        {% comment %} Form title {% endcomment %}
        <h1 class="dashboard__main--name">Add Product Type</h1>
        {% csrf_token %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            {{ field.label_tag }}
            {{ field }}
          {% endif %}
        {% endfor %}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'product_types_table' %}" aria-label="Go to Product Type page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            <i class="fa fa-plus-circle"></i>
            Add Type
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User is a cusomer {% endcomment %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#id_product_type_attributes').select2(
        {
          placeholder: "Select a product type attribute",
          allowClear: true,
          // set not required
          required: false,
        }
      );
    });
  </script>
{% endblock %}