{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <style>
    .content__container {
      justify-content: start !important;
      align-items: flex-start !important;
    }

    .btn i {
      margin-right: 0 !important;
    }

    .search__navbar {
      background-color: transparent !important;
      margin-top: 0.5em !important;
    }

    .search__container {
      width: 100% !important;
    }

    .search__input {
      padding: 0.5em !important;
      width: 100% !important;
    }

    .search__input input {
      border: 1px solid #363636 !important;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Attributes{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Not Accessible by customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <section class="dashboard__main">
        <h1 class="dashboard__main--name">
          Product Attributes
        </h1>
        {% comment %} Add new product attribute buttons {% endcomment %}
        <a href="{% url 'add_attribute' %}" aria-label="Go to add new product attribute" class="btn btn__add">
          <i class="fas fa-plus-circle"></i>
          Add New Product Attribute
        </a>
      </section>
      {% if attributes %}
        {% comment %} Search product type by input {% endcomment %}
        <div class="search__navbar">
          <div class="search__container">
            <form class="search__input" id="search-all">
              {% csrf_token %}
              <input type="text" name="search_query" placeholder="Search by attribute name ..." id="sort-selector">
              <button type="submit" id="search-btn" aria-label="Search" class="btn btn__search">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        {% comment %} Attributes table {% endcomment %}
        <div class="types__all">
          {% for attribute in attributes %}
            <div class="type__details attributes">
              <strong>{{ attribute.name }}</strong>
              {% if attribute.description %}
                <p>{{ attribute.description }}</p>
              {% else %}
                <p>(No description)</p>
              {% endif %}
              <strong>Values: </strong>
              <div class="type_attributes">
                {% if attribute.product_attribute.all %}
                  <div class="dropdown">
                    <button class="btn btn__dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <strong>{{ attribute.product_attribute.count }}</strong> Values
                    </button>
                    <ul class="dropdown-menu">
                      {% for value in attribute.product_attribute.all %}
                        <li><a class="dropdown-item" href="#">{{ value.attribute_value }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <span>(No attributes)</span>
                {% endif %}
              </div>
              <div class="type__buttons">
                <a href="{% url 'edit_attribute' pk=attribute.id %}"
                    aria-label="Edit product attribute page" class="btn btn__edit">
                  <i class="fas fa-edit"></i>
                  Edit
                </a>
                {% comment %} Delete Attribute accessable only to admin {% endcomment %}
                {% if request.user.profile.role.id == 3 %}
                  <a href="{% url 'delete_attribute' pk=attribute.id %}"
                      aria-label="Delete product attribute page" class="btn btn__delete">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <strong>No attributes found</strong>
      {% endif %}
      </div>
    {% else %}
      {% comment %} User is a cutomer {% endcomment %}
      <h1>You are not authorized to view this page</h1>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
    <script>
      $(document).ready(function() {
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
          window.location.replace(window.location.origin + "/personnel/attributes/");
        }
      });
    </script>
{% endblock %}