{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <style>
    .content__container {
      justify-content: start !important;
      align-items: flex-start !important;
    }

    .btn i {
      margin-right: 0 !important;
    }

    .search__navbar {
      background-color: transparent !important;
    }

    .search__container {
      width: 100% !important;
    }

    .search__input {
      padding: 0.2em 0 !important;
      width: 100% !important;
    }

    .search__input input {
      border: 1px solid #363636 !important;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Brands{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          All Brands
        </h1>
        {% comment %} Add new brand button {% endcomment %}
        <a href="{% url 'add_brand' %}" aria-label="Go to add new brand page" class="btn btn__add">
          <i class="fas fa-plus-circle"></i>
          Add New Brand
        </a>
      </div>
      {% comment %} Brands table {% endcomment %}
      <div class="brand__table">
        {% comment %} Search brand by input {% endcomment %}
        <div class="search__navbar">
          <div class="search__container">
            <form class="search__input" id="search-all">
              {% csrf_token %}
              <input type="text" name="search_query" placeholder="Search..." id="sort-selector">
              <button type="submit" id="search-btn" aria-label="Search" class="btn btn__search">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="brand__table--row table__titles">
          <div class="brand__table--cell">Name</div>
          <div class="brand__table--cell">Active</div>
          <div class="brand__table--cell">Products</div>
        </div>
        {% comment %} All brands {% endcomment %}
        {% for brand in brands %}
          <a class="brand__table--row brand__table--link"  href="{% url 'brand_detail' brand_pk=brand.id %}" aria-label="Go to Brand detail page">
            <div class="brand__table--cell">
              {{ brand.name }}
            </div>
            <div class="brand__table--cell">
              {% if brand.is_active %}
                <i class="fa fa-check-circle"></i>
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}
            </div>
            <div class="brand__table--cell">
              {{ brand.products.count }} products
            </div>
          </a>
        {% endfor %}
      </div>
      {% comment %} Control Pagination {% endcomment %}
      {% if brands.paginator.num_pages %}
        {% if not brands.paginator.num_pages == 1 %}
          <div class="pagination">
            <div class="pagination__navigation">
              {% if brands.has_previous and not brands.has_next %}
                <a href="?page={{ brands.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% elif brands.has_next and not brands.has_previous %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <a href="?page={{ brands.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% elif brands.has_next and brands.has_previous %}
                <a href="?page={{ brands.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="?page={{ brands.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% else %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% endif %}
            </div>
            <div class="pagination__location">
              Page <span>{{ brands.number }}</span> of {{ brands.paginator.num_pages }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% else %}
      {% comment %} If user is not personnel {% endcomment %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to view this page.
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function () {
      if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        window.location.replace(window.location.origin + "/personnel/brands_table/");
      }
    });
  </script>
{% endblock %}