{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          {{ brand.name }}
        </h1>
        <a class="btn btn-primary btn__edit" href="{% url 'edit_brand' brand_pk=brand.pk %}" aria-label="Go to edit brand form">
          <i class="fa fa-pencil"></i>
          Edit Brand
        </a>
        {% if request.user.profile.role.id == 3 %}
          <a class="btn btn-primary btn__delete" href="{% url 'delete_brand' brand_pk=brand.pk %}"  aria-label="Go to delete brand form">
            <i class="fa fa-trash"></i>
            Delete product
          </a>
        {% endif %}
          {% if brand.is_active %}
            <i class="fa fa-check-circle"></i> (Active)
          {% else %}
            <i class="fa fa-times-circle"></i> (Inactive)
          {% endif %}
        <div class="dashboard__main--info">
          <div>
            <strong>Product with this brand: {{ brand.products.count }}</strong>
          <div>
          <div>
            <strong>Description: </strong>
            <div>
              {{ brand.description }}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}
