{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <section class="dashboard__main">
        <h1 class="dashboard__main--name">
          Catgories
        </h1>
        <a href="{% url 'add_category' %}" aria-label="Go to add new category page" class="btn btn-primary btn__add">
          <i class="fas fa-plus-circle"></i>
          Add New Category
        </a>
      </section>
      <div>
        {% for category in categories %}
          <div>
          {{ category.name }}
            {% if category.is_active %}
              <i class="fa fa-check-circle"></i> (Active)
            {% else %}
              <i class="fa fa-times-circle"></i> (Inactive)
            {% endif %}
            {{ category.products.count }} products
            <a class="btn btn-primary btn__edit" href="{% url 'edit_category' category_pk=category.pk %}">
              <i class="fa fa-pencil"></i>
              Edit Category
            </a>

          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}