{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Categories{% endblock %}

{% block content %}
  <div class="dashboard">
  {% comment %} limit access for the customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <section class="dashboard__main">
        <h1 class="dashboard__main--name">
          Categories
        </h1>
        {% comment %} Add new category buttons {% endcomment %}
        <a href="{% url 'add_category' %}" aria-label="Go to add new category page" class="btn btn__add">
          <i class="fas fa-plus-circle"></i>
          Add New Category
        </a>
      </section>
      {% comment %} Categories table {% endcomment %}
      <div class="categories">
        {% for category in categories %}
          <div class="category">
            <strong>
              {{ category.name }}
            </strong>
            <div class="category__status">
              {% if category.is_active %}
                <i class="fa fa-check-circle"></i> (Active)
              {% else %}
                <i class="fa fa-times-circle"></i> (Inactive)
              {% endif %}
            </div>
            <div class="category__assigned--products">
              <strong>{{ category.products.count }}</strong> products in this category
            </div>
            {% comment %} Category edit-delete buttons {% endcomment %}
            <div class="order__review--btns">
              <a class="btn btn__edit" href="{% url 'edit_category' category_pk=category.pk %}">
                <i class="fa fa-pencil"></i>
                Edit Category
              </a>
              {% if request.user.profile.role.id == 3 %}
                <a class="btn btn__delete" href="{% url 'delete_category' category_pk=category.pk %}">
                  <i class="fa fa-trash"></i>
                  Delete product
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      {% comment %} User doesn't have an access {% endcomment %}
      <h1>You are not authorized to view this page</h1>
    {% endif %}
  </div>
{% endblock %}