{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Delete Tag{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Accessible only to admin {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Delete tag form {% endcomment %}
      <form method="POST" class="dashboard__form form__delete">
        {% comment %} Form title {% endcomment %}
        <h1 class="dashboard__main--name">Delete Tag: {{ tag.name }}</h1>
        {% if tag.products.count %}
          <strong>Please, note! The following tag is assigned to {{ tag.products.count }} product!</strong>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'tag_detail' tag_pk=tag.id %}" aria-label="Go to Tag detail page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User is not admin {% endcomment %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to view this page.
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}
