{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% comment %} Only accessable to admin {% endcomment %}
    {% if request.user.profile.role.id == 3 %}
      <form method="POST" class="dashboard__form form__delete">
        <h1 class="dashboard__main--name">
          Delete Category
        </h1>
        {% comment %} If there are any assosiated products {% endcomment %}
        {% if category.products.all %}
          <strong>Please, note! The following products will be deleted as well!</strong>
          <ul class="dashboard__main--list">
            {% for product in category.products.all %}
              <li class="dashboard__main--list--item">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{ product.name }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        {% comment %} Form buttons {% endcomment %}
        <div class="form__btns accent form__delete">
          <a href="{% url 'categories_table' %}" aria-label="Go to Categories page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}