{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% comment %} Accessable only to admin {% endcomment %}
    {% if request.user.is_authenticated and request.user.profile.role.id == 3 %}
      <div class="dashboard__main dashboard__form">
        <h1 class="dashboard__main--name">Delete product attribute</h1>
        {% comment %} Warning messages {% endcomment %}
        <div class="warning__msg">
          <p>If you delete this value, all stock units with this value will be be deleted. Are you sure you want to delete this product attribute value?</p>
          {% if attribute_value.attributevalues.all %}
            <strong>
              Please, note! The following product attribute assigned to {{ attribute_value.attributevalues.count }} different stock units !
            </strong>
          {% else %}
            <p>This product attribute value is not assigned to any stock units.</p>
          {% endif %}
        </div>
        <strong class="warning__msg--request">Deletion is forbidden!</strong>
        <p>If you want to delete this value, please, contact with administrator.</p>
        {% comment %} Form control button {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'attribute_values' %}" aria-label="Go to Product Attributes page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
        <div>
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}