{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Delete Product{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Accessible only to personnel {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <form method="POST" class="dashboard__form form__delete">
        <h1 class="dashboard__main--name">
          Delete Product
        </h1>
        <em>{{ product.name }}</em>
        <div class="warning__msg">
          <p>Please, note that <strong>{{ product.inventory.count }}</strong> related units will be deleted:</p>
          <p>Are you sure you want to delete this product?</p>
        </div>
        {% csrf_token %}
        {{ form }}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to Promotions page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User is not personnel {% endcomment %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to view this page.
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}