{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Delete Type{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Accessible only to admin {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main dashboard__form">
        {% comment %} Form title {% endcomment %}
        <h1 class="dashboard__main--name">Delete Product Type</h1>
        {% comment %} Warning messages {% endcomment %}
        <div class="warning__msg">
          <p>If you delete this product type, all products of this type will be deleted. Are you sure you want to delete this product type?</p>
          {% if product_type.inventory.all %}
            <strong>
              Please, note! The following product type assigned to {{ product_type.inventory.count }} different units !
            </strong>
          {% else %}
            <p>This product type is not assigned to any unit.</p>
          {% endif %}
          {% if product_type.product_type_attributes.all %}
            <strong>
              Please, note! The following product type assigned to {{ product_type.product_type_attributes.count }} attributes !
            </strong>
          {% else %}
            <p>This product type is not assigned to any attribute.</p>
          {% endif %}
        </div>
        <strong class="warning__msg--request">Deletion is forbidden!</strong>
        <p>If you want to delete this product type, please, contact with administrator.</p>
        {% comment %} Form control button {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'product_types_table' %}" aria-label="Go to Product Type page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Go back
          </a>
        </div>
      </div>
    {% else %}
      {% comment %} User is not personnel {% endcomment %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}