{% extends "base.html" %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Delete Category{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Only accessible to admin {% endcomment %}
    {% if request.user.profile.role.id == 3 %}
      <form method="POST" class="dashboard__form form__delete">
        {% comment %} Form Title {% endcomment %}
        <h1 class="dashboard__main--name">
          Delete Category
        </h1>
        {% comment %} Warning message {% endcomment %}
        <h2 class="dashboard__main--subtitle">
          Are you sure you want to delete <strong>{{ category.name }}</strong> category?
        </h2>
        {% comment %} If there are any assosiated products {% endcomment %}
        {% if category.products.all %}
          <strong>Please, note! The following products will be deleted as well!</strong>
          <div class="dashboard__main--list">
            {% for product in category.products.all %}
              <a class="dashboard__main--list--item" href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to product detail page">
                <i class="fa fa-times" aria-hidden="true"></i>
                {{ product.name }}
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            {% endfor %}
          </div>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        {% comment %} Form buttons {% endcomment %}
        <div class="form__btns accent form__delete">
          <a href="{% url 'categories_table' %}" aria-label="Go to Categories page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User is not a personnel member {% endcomment %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}