{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          Delete {{ inventory.product.name }} Unit {{ inventory.sku }}
        </h1>
      </div>
      <form method="POST" class="adding__promotion--form">
        {% csrf_token %}
        {{ form }}
        <div class="form__btns">
          <a href="{% url 'product_inventory_details' pk=inventory.product.pk inventory_pk=inventory.id %}" aria-label="Go to Promotions page" class="btn btn-primary">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary btn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}