{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% if request.user.profile.role.id == 3 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          Delete Brand
        </h1>
        {% if brand.products.all %}
          <strong>Please, note! The following products will be deleted as well!</strong>
          {% for product in brand.products.all %}
              <em>
                {{ product.name }}
              </em>
          {% endfor %}
        {% endif %}
      </div>
      <form method="POST" class="adding__promotion--form">
        {% csrf_token %}
        {{ form }}
        <div class="form__btns">
          <a href="{% url 'brand_detail' brand_pk=brand.id %}" aria-label="Go to Brand detail page" class="btn btn-primary btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete Brand
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}

{% endblock %}