{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% comment %} Accessable only to admin {% endcomment %}
    {% if request.user.profile.role.id == 3 %}
      <form method="POST" class="dashboard__form form__delete">
        <h1 class="dashboard__main--name">
          Delete Tag
        </h1>
        {% if tag.products.count %}
          <strong>Please, note! The following tag is assigned to {{ tag.products.count }} product!</strong>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <div class="form__btns accent">
          <a href="{% url 'tag_detail' tag_pk=tag.id %}" aria-label="Go to Tag detail page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn brn__delete">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to view this page.
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}

{% endblock %}