{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1>Edit Tag</h1>
      </div>
      <form method="POST" class="form">
        {% csrf_token %}
        {{ form }}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns">
          <a href="{% url 'tags_table' %}" aria-label="Go to Tags page" class="btn btn-primary btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary btn__add">
            <i class="fa fa-plus-circle"></i>
            Edit Tag
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to view this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $(function () {
        $('#id_is_active').checkboxradio();
      });
    });
  </script>
{% endblock %}