{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Edit Value{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access to all customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Edit Value form {% endcomment %}
      <form method="POST" class="dashboard__form">
        {% comment %} Form title {% endcomment %}
        <h1 class="dashboard__main--name">Edit Attribute Value</h1>
        {% csrf_token %}
        {{ form }}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'attribute_values' %}" aria-label="Go to Product Attributes page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            <i class="fas fa-save"></i>
            Save Changes
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User is not personnel {% endcomment %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#id_product_attribute').select2(
        {
          placeholder: "Select product attribute",
          allowClear: true,
        }
      );
      $('#id_product_attribute').css('width', '100%');
    });
  </script>
{% endblock %}