{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% comment %} Limit access to all customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <form method="POST" class="dashboard__form">
        <h1 class="dashboard__main--name">Edit Attribute Vlaue</h1>
        {% csrf_token %}
        {{ form }}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'attribute_values' %}" aria-label="Go to Product Attributes page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            <i class="fas fa-save"></i>
            Save Changes
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}