{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    label[for="id_is_active"] {
      margin-top: 0.8em;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Edit Tag{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
    {% comment %} Edit tag Form {% endcomment %}
      <form method="POST" class="dashboard__form">
        {% comment %} Form Title {% endcomment %}
        <h1 class="dashboard__main--name">Edit Tag</h1>
        {% csrf_token %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            {{ field.label_tag }}
            {{ field }}
          {% endif %}
        {% endfor %}
        {% comment %} Form control buttons {% endcomment %}
        <div class="form__btns accent">
          <a href="{% url 'tags_table' %}" aria-label="Go to Tags page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            {% comment %} save icon {% endcomment %}
            <i class="fas fa-save"></i>
            Save changes
          </button>
        </div>
      </form>
    {% else %}
      {% comment %} User isn't personnel {% endcomment %}
      <div class="dashboard__main">
        <h1>You are not authorized to view this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $(function () {
        $('#id_is_active').checkboxradio();
      });
    });
  </script>
{% endblock %}