{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Eidt Product inventory form {% endcomment %}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Edit Unit for {{ inventory.product.name }}</h3>
            </div>
            <div class="panel-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="product_name">SKU</label>
                  {% comment %} add profilled input with inventory.sku {% endcomment %}
                  <input type="text" class="form-control" id="sku" name="sku" value="{{ inventory.sku }}" maxlength="50" required>
                </div>
                <div class="form-group">
                  <label for="product_name">UPC</label>
                  {% comment %} add profilled input with inventory.upc {% endcomment %}
                  <input type="text" class="form-control" id="upc" name="upc" value="{{ inventory.upc }}" maxlength="50" required>
                <div class="form-group">
                  <label for="product_description">Product ID</label>
                  {% comment %} add product data profilled and disabled {% endcomment %}
                  <input type="text" class="form-control" id="product_id" data-product="{{ pk }}" name="product_id" placeholder="{{ inventory.product.name }}" readonly>
                <div class="form-group" id="type-block">
                  <label for="exampleDataList" class="form-label">Type</label>
                  {% comment %} Add types select {% endcomment %}
                  <select class="form-control" id="type" name="type" required>
                    <option value="">Select Type</option>
                    {% for type in product_types %}
                      {% if inventory.product_type == type %}
                        <option value="{{ type.id }}" selected>{{ type.name }}</option>
                      {% else %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="hidden">
                  {% comment %} Get this product inventory's values  {% endcomment %}
                  {% for inv_val in inventory.attribute_values.all %}
                    <p class="given__values">{{inv_val}}</p>
                  {% endfor %}
                  </div>
                {% comment %} If attributes, insert here {% endcomment %}
                <div id="attributes"></div>
                {% comment %} profilled inputs for prices and weight {% endcomment %}
                <div class="form-group">
                  <label for="product_quantity">Retail Price</label>
                  <input type="text" class="form-control" id="retail_price" name="retail_price" value="{{ inventory.retail_price }}" maxlength="50" required>
                </div>
                <div class="form-group">
                  <label for="product_quantity">Store Price</label>
                  <input type="text" class="form-control" id="store_price" name="store_price" value="{{ inventory.store_price }}" maxlength="50" required>
                </div>
                <div class="form-group">
                  <label for="product_quantity">Sale Price</label>
                  <input type="text" class="form-control" id="sale_price" name="sale_price" value="{{ inventory.sale_price }}" maxlength="50" required>
                </div>
                <div class="form-group">
                  <label for="product_image">Weight (grams)</label>
                  <input type="text" class="form-control" id="weight" name="weight" value="{{ inventory.weight }}" maxlength="50" required>
                </div>
                <div class="form-check">
                {% comment %} Check if pi is active {% endcomment %}
                  {% if inventory.is_active %}
                    <input type="checkbox" class="form-check-input" id="is_active" name="is_active" value="1" checked data-active="true">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="is_active" name="is_active" value="0" data-active="false">
                    <label class="form-check-label" for="flexCheckDefault">
                      Active
                    </label>
                  {% endif %}
                </div>
                <div class="form__btns">
                  <a href="{% url 'product_inventory_details' pk=inventory.product.pk inventory_pk=inventory.id %}" aria-label="Go to Promotions page" class="btn btn-primary">
                    {% comment %} Add arrow left icon in circle {% endcomment %}
                    <i class="fas fa-arrow-circle-left"></i>
                    Back to Unit Page
                  </a>
                  <button id="form-check" class="btn btn-primary btn__add">
                    <i class="fas fa-check-circle"></i>
                    Confirm Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function() {
      // get present values for this inventory
      let givenValues = $('.given__values');
      // loop through each element
      listOfValues = [];
      givenValues.each(function() {
        // get the value
        let value = $(this).text();
        listOfValues.push(value);
      });
      let product_id;
      //get typeId value by selected option in select #type
      let typeId = $('#type option:selected').val();
      // check if #attribute block is empty
      console.log(typeId);
      const onlyNumberKey = function(e) {
        // Only ASCII character in that range allowed
        if (e.which < 48 || e.which > 57) {
          e.preventDefault();
        }
      };
      const validPrice = function(e) {
        // Only ASCII character in that range allowed
        if ((e.which < 48 || e.which > 57) && e.which != 46) {
          e.preventDefault();
          }
          // get the input field
          let $input = $(e.target);
          // get the value of the input field
          let inputVal = $input.val();
          console.log(inputVal);
          if (e.which == 46) {
            //check if input value '.' already exists
            if (inputVal.indexOf('.') > -1) {
              console.log('already exists');
              e.preventDefault();
            }
        }
      };
      $('#sku').on('keypress', onlyNumberKey);
      $('#upc').on('keypress', onlyNumberKey);
      $('#retail_price').on('keypress', validPrice);
      $('#store_price').on('keypress', validPrice);
      $('#sale_price').on('keypress', validPrice);
      $('#weight').on('keypress', onlyNumberKey);
      // Set control attributes and values on selected type
      const typeControl = function() {
        if ($(this).val() != typeId) {
          typeId = $(this).val();
        }
        typeId = $('#type option:selected').val();

        //typeId = $(this).val();
        //$('#product_id').data('product');
        console.log(typeId);
        // AJAX request to get attributes + values
        $.ajax({
          url: '{% url "get_type_attribute" %}',
          type: 'POST',
          data: {
            'type_id': typeId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(data) {
            console.log(data);
            console.log(data.attribute_values_dict);
            // loop through attribute_values_dict and create inputs
            $('#attributes').empty();
            for (let key in data.attribute_values_dict) {
              console.log(key);
              console.log(data.attribute_values_dict[key]);
              let formControlBlock = '<div class="form-group">';
              formControlBlock += '<label for="' + key + '">' + key + '</label>';
              formControlBlock += '<select class="form-control" id="' + key + '" name="' + key + '"required>';
              formControlBlock += '<option value="">Select ' + key + '</option>';
              for (let i = 0; i < data.attribute_values_dict[key].length; i++) {
                //check if data.attribute_values_dict[key][i] is in listOfValues
                if (data.attribute_values_dict[key][i] == listOfValues[i]) {
                  formControlBlock += '<option value="' + data.attribute_values_dict[key][i] + '" selected>' + data.attribute_values_dict[key][i] + '</option>';
                } else {
                  formControlBlock += '<option value="' + data.attribute_values_dict[key][i] + '">' + data.attribute_values_dict[key][i] + '</option>';
                }
              }
              formControlBlock += '</select>';
              formControlBlock += '</div>';
              $('#attributes').append(formControlBlock);
            }
          }
        });
      }
      $(document).ready(typeControl);
      $('#type').on('change', typeControl);
    });
  </script>
{% endblock %}