{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">Edit Product Type</h1>
      </div>
      <form method="POST" class="form">
        {% csrf_token %}
        {{ form }}
        <div class="form__btns">
          <a href="{% url 'product_types_table' %}" aria-label="Go to Product Type page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            <i class="fas fa-save"></i>
            Edit Type
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}