{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <style>
    label[for="id_is_active"] {
      margin-top: 0.5em;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Edit Product{% endblock %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <form method="POST" class="dashboard__form">
        <h1 class="dashboard__main--name">
          Edit Product
        </h1>
        {% csrf_token %}
        {{ form }}
        <div class="form__btns accent">
          <a href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to Promotions page" class="btn btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn__add">
            <i class="fas fa-save"></i>
            Save Changes
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $(function () {
        $('#id_is_active').checkboxradio();
      });
      $('select').addClass('js-example-basic-single');
      $('.js-example-basic-single').select2({
        placeholder: 'Type name to search',
      });
      $('#div_id_assigned_to').css('width', '100%');
    });
  </script>
{% endblock %}