{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <style>
    .new {
      display: inline-block;
      padding: 0.2em 0.5em;
      border-radius: 0.2em;
    }

    .data__accent--sale {
      border-radius: 0.2em;
    }

    .dashboard__main--name {
      margin-top: 2em;
    }

    .dashboard__main a {
      top: -0.8rem;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Personnel-Unit{% endblock %}

{% block content %}
  <div class="dashboard dashboard__form">
  {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
    {% comment %} Unit page Header {% endcomment %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          {{ product.name }}
          {% if product.get_recently_created %}
            <span class="new">
              New !
            </span>
          {% endif %}
        </h1>
        <a href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to Promotions page" class="btn btn__redirect btn_go--back">
          <i class="fas fa-arrow-circle-left"></i>
          Back to product
        </a>
      </div>
      {% comment %} Render product buttons {% endcomment %}
      <div class="product__admin--btns">
        <a class="btn btn__edit" href="{% url 'edit_product_inventory' pk=product.id inventory_pk=inventory.pk %}">
          <i class="fa fa-pencil"></i>
          Edit Unit
        </a>
        <a class="btn btn__delete" href="{% url 'delete_product_inventory' pk=product.id inventory_pk=inventory.pk %}">
          <i class="fas fa-trash-alt"></i>
          Delete Unit
        </a>
      </div>
      {% comment %} Unit data {% endcomment %}
      <div class="data__main unit">
        <span>
          {% if inventory.is_active %}
            <i class="fa fa-check-circle"></i> (Active Unit)
          {% else %}
            <i class="fa fa-times-circle"></i> (Inactive Unit)
          {% endif %}
        </span>
        <div>
          <strong>SKU: </strong>
          {{ inventory.sku }}
        </div>
        <div>
          <strong>UPC: </strong>
          {{ inventory.upc }}
        </div>
        <div>
          <strong>Options: </strong>
          {{ inventory.get_all_attribute_values_str }}
        </div>
        <div>
          <strong>Promo: </strong>
          {% if inPromoNow %}
            <i class="fa fa-check-circle"></i> (Active Promo)
          {% else %}
            <i class="fa fa-times-circle"></i> (Not in Promo)
          {% endif %}
        </div>
        {% comment %} Price table {% endcomment %}
        <div>
          <strong>Price: </strong>
          <table>
            <tr>
              <th>Retail</th>
              <th>Store</th>
              <th>Sale</th>
            </tr>
            <tr>
              <td>$ {{ inventory.retail_price }}</td>
              <td>$ {{ inventory.store_price }}</td>
              <td>
                {% if not inventory.store_price == inventory.sale_price %}
                  <div class="data__accent--sale">$ {{ inventory.sale_price }}</div>
                {% else %}
                  <div>$ {{ inventory.sale_price }}</div>
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
        {% comment %} Stock table {% endcomment %}
        <div class="unit__stock">
          <strong>Stock: </strong>
          {% if inventory.stock %}
            {% if inventory.stock.units < 50 and inventory.stock.units >= 25 %}
              <div class="data__accent--yellow">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            {% elif inventory.stock.units < 25 and inventory.stock.units >= 10 %}
              <div class="data__accent--orange">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            {% elif inventory.stock.units < 10 and inventory.stock.units >= 0 %}
              <div class="data__accent--redish">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            {% elif inventory.stock.units == 0 %}
              <div class="data__accent--red">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            {% else %}
              <div class="data__accent--green">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
            {% endif %}
            <table>
              <tr>
                <th>Purchased</th>
                <th>Left</th>
                <th>Sold</th>
                <th>Last Checked</th>
                <th>Inconcistency</th>
              </tr>
              <tr>
                <td>{{ inventory.stock.units_variable }}</td>
                <td>{{ inventory.stock.units }}</td>
                <td>{{ inventory.stock.units_sold }}</td>
                <td>{{ inventory.stock.last_checked|date:"d.m.Y" }}</td>
                <td>
                  {% if inventory.stock in stock_inconsistency %}
                    <div class="data__accent--red">
                      <i class="fa fa-exclamation-triangle"></i>
                    </div>
                  {% else %}
                    <div class="data__accent--green">
                      <i class="fa fa-exclamation-triangle"></i>
                    </div>
                  {% endif %}
                </td>
              </tr>
            </table>
            {% if request.user.profile.role.id == 3 %}
              <a href="{% url 'update_stock' pk=product.id inventory_pk=inventory.pk stock_pk=inventory.stock.pk %}"
                  aria-label="Go to Update stock page" class="btn btn__add">
                    <i class="fa fa-refresh"></i>
                    Update Stock
              </a>
              <a href="{% url 'delete_stock' pk=product.id inventory_pk=inventory.pk stock_pk=inventory.stock.pk %}"
                  aria-label="Go to Delete stock page" class="btn btn__delete">
                    <i class="fas fa-trash-alt"></i>
                    Delete Stock
              </a>
            {% endif %}
          {% else %}
          {% comment %} If there is no stock yet {% endcomment %}
            <div>
              <strong class="data__accent--no--stock unit">
                <i class="fa fa-exclamation-triangle"></i>
                Stock not found
              </strong>
              {% comment %} Check if user is admin {% endcomment %}
              {% if request.user.profile.role.id == 3 %}
                <a href="{% url 'add_stock' pk=product.id inventory_pk=inventory.pk %}"
                    aria-label="Go to Add stock page" class="btn btn__add">
                      <i class="fa fa-plus-circle"></i>
                      Add Stock
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}