{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="products__table">
        <div class="products__table--row table__titles">
          <div class="products__table--cell">ID</div>
          <div class="products__table--cell">Name</div>
          <div class="products__table--cell">Description</div>
          <div class="products__table--cell">Category</div>
          <div class="products__table--cell">Tags</div>
          <div class="products__table--cell">Brand</div>
          {% comment %} <div class="products__table--cell">($) Price<br> Range</div> {% endcomment %}
          <div class="products__table--cell">Img</div>
          <div class="products__table--cell">Sale</div>
          <div class="products__table--cell">PI</div>
        </div>
        {% for product in products %}
          <a class="products__table--row" href="{% url 'product_detail' pk=product.id %}">
            <div class="products__table--cell">
              {% if product.is_active %}
                <div class="circle green">
                  {{ product.id }}
                </div>
              {% else %}
                <div class="circle red">
                  {{ product.id }}
                </div>
              {% endif %}
            </div>
            <div class="products__table--cell">
              {{ product.name }}
              {% if product.get_recently_created %}
                <div class="new">
                  New !
                </div>
              {% endif %}
            </div>
            <div class="products__table--cell">{{ product.description|truncatechars:25 }}</div>
            <div class="products__table--cell">{{ product.category.name }}</div>
            <div class="products__table--cell">
              {% for tag in product.get_tags %}
                <div>{{ tag.name }}</div>
              {% endfor %}
            </div>
            <div class="products__table--cell">{{ product.brand }}</div>
            {% comment %} Price Range {% endcomment %}
            {% comment %}
                    <div class="products__table--cell">
              <div class="">
                {% if product.get_out_of_stock %}
                  <div class="product__card--price price__sale">
                    <i class="fa fa-times-circle"></i>
                  </div>
                {% elif product.get_same_sale_price %}
                  {% if product.get_sale_price_is_lower_than_store_price %}
                    <div class="product__card--price price__regular">
                      {{ product.get_lowest_store_price }}
                    </div>
                    <div class="product__card--price price__sale">
                      {{ product.get_lowest_price }}
                    </div>
                  {% else %}
                    <div class="product__card--price">
                      {{ product.get_lowest_price }}
                    </div>
                  {% endif %}
                {% else %}
                  {% if product.get_sale_price_is_lower_than_store_price %}
                    <div class="product__card--price price__regular">
                      {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
                    </div>
                    <div class="product__card--price price__sale">
                      {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                    </div>
                  {% else %}
                    <div class="product__card--price">
                      {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                    </div>
                  {% endif %}
                {% endif %}
              </div> 
            </div>{% endcomment %}
            <div class="products__table--cell">
              {% if product.get_all_active_images %}
                {{ product.get_all_active_images }}
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}

            </div>

            <div class="products__table--cell">
              {% if product.get_sale_price_is_lower_than_store_price %}
                <i class="fa fa-check-circle"></i>
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}
            </div>
            <div class="products__table--cell">
              {{ product.get_all_inventory.count }}
            </div>
          </a>
      {% endfor %}
    {% else %}
      <p> No products yet </p>
    {% endif %}
        </div>
    </div>

{% endblock %}

{% block postloadjs_extra %}

{% endblock %}