{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
          <h1 class="dashboard__main--name">Stock</h1>
      </div>
      <div class="data__main--stock">
        <div class="products__stock--no">
          <div class="products__stock--no--title">You have <strong>{{ products_without_stock.count }}</strong> Units without stock</div>
          {% comment %} add button show {% endcomment %}
          {% if products_without_stock.count > 0 %}
            <button id="without-stock" class="btn btn__add">Show</button>
            <div class="hidden nostock__units" id="without-stock-table">
              {% for unit in products_without_stock %}
                <a class="nostock__unit" href="{% url 'product_inventory_details' pk=unit.product.pk inventory_pk=unit.id %}" aria-label="Go to product inventories details">
                  <div class="products__stock--no--unit--name">{{ unit.sku }}</div>
                  <div class="products__stock--no--unit--price">{{ unit.product.name }}</div>
                </a>
              {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
        <table class="stock__table">
          <tr>
            <th>SKU</th>
            <th>Overview</th>
            <th>Purchased</th>
            <th>Left</th>
            <th>Sold</th>
            <th>Last Checked</th>
            <th>Inconcistency</th>
            {% if request.user.profile.role.id == 3 %}
              <th>Update</th>
              <th>Delete</th>
            {% endif %}
          </tr>
          {% for stock in all_stock %}
          {% if stock in  stocks_without_units %}
            <tr style="background-color: #ffc0cb;">
          {% else %}
            <tr>
          {% endif %}
            <td>
              {% if stock.product_inventory.sku %}
                {{ stock.product_inventory.sku }}
              {% else %}
                No SKU
              {% endif %}
            </td>
            <td>
              {% if stock.units < 50 and stock.units >= 25 %}
                <div class="data__accent--yellow">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% elif stock.units < 25 and stock.units >= 10 %}
                <div class="data__accent--orange">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% elif stock.units < 10 and stock.units >= 0 %}
                <div class="data__accent--redish">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% elif stock.units == 0 %}
                <div class="data__accent--red">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% else %}
                <div class="data__accent--green">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% endif %}
            </td>
            <td>{{ stock.units }}</td>
            <td>{{ stock.units_variable }}</td>
            <td>{{ stock.units_sold }}</td>
            <td>{{ stock.last_checked }}</td>
            <td>
              {% if stock in stock_inconsistency %}
                <div class="data__accent--red">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% else %}
                <div class="data__accent--green">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
              {% endif %}
              </td>
            {% if request.user.profile.role.id == 3 %}
              <td>
                <a href="#" class="btn btn-primary btn__edit" aria-label="Update stock for this {{ stock.product_inventory.sku }}">
                  <i class="fa fa-refresh"></i>
                </a>
              </td>
              <td>
                <a href="#" class="btn btn-primary btn__delete" aria-label="Delete stock for this {{ stock.product_inventory.sku }}">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            {% endif %}
          {% endfor %}
        </table>
      </div>


      {% comment %} Control Pagination {% endcomment %}
      {% if all_stock.paginator.num_pages %}
        {% if not all_stock.paginator.num_pages == 1 %}
          <div class="pagination">
            <div class="pagination__navigation">
              {% if all_stock.has_previous and not all_stock.has_next %}
                <a href="?page={{ all_stock.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% elif all_stock.has_next and not all_stock.has_previous %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <a href="?page={{ all_stock.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% elif all_stock.has_next and all_stock.has_previous %}
                <a href="?page={{ all_stock.previous_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to previous page results">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <a href="?page={{ all_stock.next_page_number }}" class="pagination__navigation--btn"
                  aria-label="Go to next page results">
                  <i class="fas fa-chevron-right"></i>
                </a>
              {% else %}
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="pagination__navigation--fake">
                  <i class="fas fa-chevron-right"></i>
                </div>
              {% endif %}
            </div>
            <div class="pagination__location">
              Page <span>{{ all_stock.number }}</span> of {{ all_stock.paginator.num_pages }}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to delete categories
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function() {
      let btnWithoutStock = $('#without-stock');
      let tableWithoutStock = $('#without-stock-table');
      // show table without stock
      btnWithoutStock.on('click', function() {
        tableWithoutStock.toggleClass('hidden');
        if (btnWithoutStock.text() == 'Show') {
          btnWithoutStock.text('Hide');
        } else {
          btnWithoutStock.text('Show');
        }
      });
    });
  </script>
{% endblock %}
