{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          {{ tag.name }}
        </h1>
        <div>
          {% if tag.is_active %}
            <i class="fa fa-check-circle"></i> (Active)
          {% else %}
            <i class="fa fa-times-circle"></i> (Inactive)
          {% endif %}
        </div>
        <a class="btn btn-primary btn__edit" href="{% url 'edit_tag' tag_pk=tag.pk %}" aria-label="Go to edit tag form">
          <i class="fa fa-pencil"></i>
          Edit Tag
        </a>
        <a class="btn btn-primary btn__delete" href="{% url 'delete_tag' tag_pk=tag.pk %}"  aria-label="Go to delete tag form">
          <i class="fa fa-trash"></i>
          Delete Tag
        </a>
      </div>

      <div class="">
        {% if tag_products.count %}
          <div class="">
            {{ tag_products.count }} products
          </div>
          {% for product in tag_products %}
            <a class="data__main--link" href="{% url 'product_detail_full' pk=product.id %}" aria-label="Go to product detail page">
              {{ product }}
              {% if product.is_active %}
                <i class="fa fa-check-circle"></i>
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}
            </a>
          {% endfor %}
        {% else %}
          <div class="">
            No products found
          </div>
        {% endif %}
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to view this page.
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}