{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="dashboard">
    {% if request.user.is_authenticated and request.user.profile.role.id == 3 %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          Update Stock for {{ product }} unit {{ product_inventory.sku }}
        </h1>
      </div>
      <form method="POST" class="form">
        {% csrf_token %}
        {{ form }}
        <div class="form__btns">
          <a href="{% url 'product_inventory_details' pk=pk inventory_pk=inventory_pk %}" aria-label="Go to product inventories details" class="btn btn-primary btn__cancel">
            <i class="fas fa-arrow-circle-left"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-primary btn__add">
            <i class="fa fa-refresh"></i>
            Update stock
          </button>
        </div>
      </form>
    {% else %}
      <div class="dashboard__main">
        <h1 class="dashboard__main--name">
          You are not authorized to access this page
        </h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#id_last_checked').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd',
        yearRange: '-100:-12',
      });
    });
  </script>
{% endblock %}