{% extends 'base.html' %}
{% load static %}


{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Requests{% endblock %}

{% block content %}
  <div class="dashboard stock__requests">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      <section class="dashboard__main">
        <h1 class="dashboard__main--name">
          All Requests
        </h1>
        <strong>( {{ stock_requests.count }}  requests now )</strong>
      </section>
      {% comment %} Search navbar {% endcomment %}
      <div class="search__navbar">
        <div class="search__container">
          <form  class="search__select" id="search-products">
            {% csrf_token %}
              <label for="product"></label>
              {% comment %} Select requests by products in requests {% endcomment %}
              <select class="form-control" id="product" name="search_query">
                <option value="">Products in requests</option>
                {% for product in products %}
                  <option value="{{ product }}">{{ product }}</option>
                {% endfor %}
              </select>
            <button type="submit" id="category-btn" aria-label="Search" class="btn btn__search">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      {% comment %} Products requested table {% endcomment %}
      <div class="products__table">
        <div class="products__table--row table__titles">
          <div class="products__table--cell">Requested Product</div>
          <div class="products__table--cell">Values</div>
          <div class="products__table--cell">Quantity</div>
        </div>
        {% for stock_request in stock_requests %}
          <a class="products__table--row" href="{% url 'product_detail_full' pk=stock_request.requested_product.id %}" aria-label="Go to product detail page" rel=>
            {% comment %} Requested product's name {% endcomment %}
            <div class="products__table--cell">
              <strong>{{ stock_request.requested_product }}<i class="fa fa-external-link" aria-hidden="true"></i></strong>
            </div>
            {% comment %} Requested values {% endcomment %}
            <div class="products__table--cell">
              {% for values in  stock_request.requested_attributes_values.all  %}
                {{ values.attribute_value }}
              {% endfor %}
            </div>
            {% comment %} Requested quantity {% endcomment %}
            <div class="products__table--cell">{{ stock_request.requested_quantity }}</div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
    $(document).ready(function () {
      if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        window.location.replace(window.location.origin + "/email_notifications/stock_requests_list/");
      }
    });
  </script>
{% endblock %}