{% extends 'base.html' %}
{% load static %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Requests{% endblock %}

{% block content %}
  <div class="dashboard">
    {% comment %} Limit access for customers {% endcomment %}
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}


      <div class="search__container">

        <form  class="search__select" id="search-products">
          {% csrf_token %}
            <label for="category"></label>
            <select class="form-control" id="product" name="search_query">
              <option value="">Products in requests</option>
              {% for product in products %}
                <option value="{{ product }}">{{ product }}</option>
              {% endfor %}
            </select>
          <button type="submit" id="category-btn" aria-label="Search" class="btn btn__search">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
{% for request in stock_requests %}

  <strong>{{ request.requested_product }}</strong>
  <div>{{ request.requested_quantity }}</div>
    {% for values in  request.requested_attributes_values.all  %}
      {{ values.attribute_value }}
    {% endfor %}
  {% endfor %}

    {% else %}
      <div class="dashboard__main">
        <h1>You are not authorized to access this page</h1>
      </div>
    {% endif %}
  </div>


{% endblock %}
