{% extends 'base.html' %}
{% load static %}

{% block content %}
<div data-id="{{ product.id }}" id="product">
  <div class="product__title">
    {{ product.name }}

    <div class="product__card--prices">
      {% if product.get_out_of_stock %}
        <div class="product__card--price price__sale">
          <p>Out of stock</p>
        </div>
      {% elif product.get_same_sale_price %}
        {% if product.get_sale_price_is_lower_than_store_price %}
          <div class="product__card--price price__regular">
            {{ product.get_lowest_store_price }}
          </div>
          <div class="product__card--price price__sale">
            {{ product.get_lowest_price }}
          </div>
        {% else %}
          <div class="product__card--price">
            {{ product.get_lowest_price }}
          </div>
        {% endif %}
      {% else %}
        {% if product.get_sale_price_is_lower_than_store_price %}
          <div class="product__card--price price__regular">
            {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
          </div>
          <div class="product__card--price price__sale">
            {{ product.get_lowest_price }} - {{ product.get_highest_price }}
          </div>
        {% else %}
          <div class="product__card--price">
            {{ product.get_lowest_price }} - {{ product.get_highest_price }}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="product__images">
      {% if product.images.all %}
        {% for image in product.images.all %}
          <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
        {% endfor %}
      {% else %}
        <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
      {% endif %}
    </div>
  </div>

  <form id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  {% comment %} <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"> {% endcomment %}
    {% if active_images and active_images|length > 1 %}
      {% comment %} <div class="carousel-indicators"> {% endcomment %}
      {% for image in active_images %}
      {% comment %} get first image {% endcomment %}
        {% comment %} {% if active_images|first == image %} {% endcomment %}
        {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> {% endcomment %}
        {% comment %} {% else %} {% endcomment %}
        {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
      {% comment %} </div> {% endcomment %}
    {% endif %}
    <div class="carousel-inner">
      {% if active_images and active_images|length > 1 %}
        {% for image in active_images %}
          {% if image.default_image %}
            <div class="carousel-item active">
              <img class="block align-middle" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
            </div>
          {% elif image.is_active %}
            <div class="carousel-item align-middle">
              <img class="block  align-middle" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
            </div>
          {% endif %}
        {% endfor %}
      {% elif active_images and active_images|length == 1 %}
        {% for image in active_images %}
          <div class="carousel-item active">
            <img class="d-block" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
          </div>
        {% endfor %}
      {% else %}
        <div class="carousel-item active">
          <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
        </div>
      {% endif %}
    </div>
    {% if active_images and active_images|length > 1 %}
      {% comment %} <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">
          <i class="fas fa-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
      </a> {% endcomment %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fas fa-chevron-right"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
  </div>

  <div class="product__description">
    <p>{{ product.description }}</p>
  </div>
{% comment %} 
  <div class="product__options">
    {% for k,v in attribute_values_dict.items %}
      <p data-attribute="{{ k }}">{{ k }}</p>
      <div class="product__options--input">
        <div class="btn-group product__options--select" role="group" aria-label="Basic example">
          {% for item in v %}
            {% if item in values_set %}
              {% if item in values_set_active %}
                <button type="button" class="btn btn-secondary product__option active" value="{{ item }}" data-attributevalue="{{ k }}">
                  {{ item }}
                </button>
              {% else %}
                <button disabled type="button" class="btn btn-secondary product__option" value="{{ item }}" data-attributevalue="{{ k }}">
                  {{ item }}
                </button>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    {% endfor %}
  </div> {% endcomment %}
  {% comment %} group nput {% endcomment %}
  {% comment %} add reset button {% endcomment %}
    <button class="btn btn-secondary" id="reset-button" type="button" data-attributevalue="reset">
      Reset
    </button>
  <form class="product__variants form">
    <div class="product__options">
      {% for k,v in attribute_values_dict.items %}
        <p data-attribute="{{ k }}" class="product__options--title">{{ k }}</p>
        <div class="product__options--input">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group" data-group-name="{{ k }}">
            {% for item in v %}
              {% if item in values_set %}
                {% if item in values_set_active %}
                  <input type="radio" class="btn-check option" name="{{ k }}" id="{{ item }}" value="{{ item }}" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{ item }}">{{ item }}</label>
                {% else %}
                  <input type="radio" class="btn-check option" name="{{ k }}" id="{{ item }}" value="{{ item }}" autocomplete="off">
                  <label class="btn btn-outline-primary  disabled"  style="background-color: {{ item }}" for="{{ item }}">{{ item }}</label>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div> 
      {% endfor %}
    </div>
    <div>
      <p> price</p>
        <div class="product__price" id="item-price">
          <div class="">
            {% if product.get_out_of_stock %}
              <div class="product__card--price price__sale">
                <p>Out of stock</p>
              </div>
            {% elif product.get_same_sale_price %}
              {% if product.get_sale_price_is_lower_than_store_price %}
                <div class="product__card--price price__regular">
                  {{ product.get_lowest_store_price }}
                </div>
                <div class="product__card--price price__sale">
                  {{ product.get_lowest_price }}
                </div>
              {% else %}
                <div class="product__card--price">
                  {{ product.get_lowest_price }}
                </div>
              {% endif %}
            {% else %}
              {% if product.get_sale_price_is_lower_than_store_price %}
                <div class="product__card--price price__regular">
                  {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
                </div>
                <div class="product__card--price price__sale">
                  {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                </div>
              {% else %}
                <div class="product__card--price">
                  {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    {% if not product.get_out_of_stock %}
      <div class="product__options--quantity product__options--input">
        <p>Quantity</p>
        <div class="product__options--buttons">
          <button class="btn btn-secondary btn-quantity disable" id="minus-button" type="button" data-attributevalue="minus">
            -
          </button>
          <div class="product__options--quantity-input">
            <input type="number" name="quantity" value="1" min="1" max="15" id="quantity">
          </div>
          <button class="btn btn-secondary btn-quantity disable" id="plus-button" type="button" data-attributevalue="plus">
            +
          </button>
        </div>
      </div>
    {% endif %}
    {% comment %} Add to bag button {% endcomment %}
    <button class="btn btn-primary disabled product__options--input" id="add-to-bag-button" type="submit" data-attributevalue="add-to-bag">
      Add to bag
    </button>
  </form>

</div>
<script>
  $(document).ready(function() {
    let itemQuantity = 1
    let product_id = $('#product').data('id');
    console.log(product_id);
    let values_list = JSON.stringify({{ values_list|safe }});
    console.log(values_list);
    // convert to array
    let values_list_array = JSON.parse(values_list);
    console.log(values_list_array);
    let valuesSetActive = {{ values_set_active_list|safe }};
    console.log(valuesSetActive);
    // get all inputs with the name 'Color'
    let inputs = $(' input[name="Color"]');
    console.log('Print all colors' + inputs);
    // loop through all inputs
    inputs.each(function() {
      // get the value of the input
      let value = $(this).val();
      let thisLabel = $('label[for="' + value + '"]');
      // check if the value is in the values_list_array
      //get label with disabled class
      console.log(this);
      thisLabel.css('background-color', value);
      thisLabel.text('');
      if ($(thisLabel).hasClass('disabled') == true) {
        thisLabel.css('opacity', '0.5');
        //thisLabel.append('<i class="fas fa-minus-circle"></i>');
      } else {
        let label = $('label[for="' + value + '"]');
      }
    });
    // we have #reset-button
    $('#reset-button').click(function(event) {
      // prevent default
      event.preventDefault();
      // reset all values
      $('.option').removeClass('active');
      // check if product value is valuesSetActive
      $('.option').each(function() {
        let value = $(this).val();
        console.log('show value: ' + value);
        console.log(value);
        // disable if value is not in valuesSetActive
        $('input[name="quantity"]').val(1);
        $('#minus-button').removeClass('disabled');
        $('#plus-button').removeClass('disabled');
        if (!valuesSetActive.includes(value)) {
          console.log('not in valuesSetActive');
          let label = $('label[for="' + value + '"]');
          $(label).addClass('disable');
          label.css('opacity', '0.5');
          console.log(label);
          let label_value = label.text();
          console.log(label_value);
          $(label).addClass('disabled');
          $(label).addClass('btn-outline-primary');
          $(this).attr('disabled', true);
        }
        $('#item-price').html(`
        
          <div class="">
            {% if product.get_out_of_stock %}
              <div class="product__card--price price__sale">
                <p>Out of stock</p>
              </div>
            {% elif product.get_same_sale_price %}
              {% if product.get_sale_price_is_lower_than_store_price %}
                <div class="product__card--price price__regular">
                  {{ product.get_lowest_store_price }}
                </div>
                <div class="product__card--price price__sale">
                  {{ product.get_lowest_price }}
                </div>
              {% else %}
                <div class="product__card--price">
                  {{ product.get_lowest_price }}
                </div>
              {% endif %}
            {% else %}
              {% if product.get_sale_price_is_lower_than_store_price %}
                <div class="product__card--price price__regular">
                  {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
                </div>
                <div class="product__card--price price__sale">
                  {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                </div>
              {% else %}
                <div class="product__card--price">
                  {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                </div>
              {% endif %}
            {% endif %}
          </div>
        `);
      });
    });

    // we have button radio groups for each attribute
    // when an attribute is checked, we need to update all the other attribute groups
    // [{"size-shoes":"36","Color":"red","Quantity":10},{"size-shoes":"35","Color":"yellow","Quantity":10},{"Color":"yellow","size-shoes":"38","Quantity":10}]
    // if color is checked, we need to update the size-shoes group to check what sizes are available for that color
    // if size-shoes is checked, we need to update the color group to check what colors are available for that size
    $('.product__options').on('change', 'input', function() {
      let attribute_value = $(this).val();
      console.log('attribute_value: ' + attribute_value);
      let attribute_name = $(this).get(0).name;
      console.log(attribute_value);
      console.log(attribute_name);
        let availableAttrsFromOtherGroups = [];
      for (let stockOption of values_list_array) {
        if (stockOption[attribute_name] == attribute_value && stockOption["Quantity"] > 0) {
          for(let key in stockOption) {
            if (key != "Quantity" && key != attribute_name) {
              console.log('KEY' + key);
              console.log(key);
              console.log(stockOption[key]);
              console.log(attribute_name);
              availableAttrsFromOtherGroups.push(stockOption[key]);
            }
          }
        }
      }
      console.log(availableAttrsFromOtherGroups);
      // now go through other groups and disable/enable buttons
      for (let group of $('.product__options--input .btn-group')) {
        let groupName = $(group).data('group-name');
        if (groupName != attribute_name) {
          for (let button of $(group).children('input')) {
            let buttonValue = $(button).val();
            let buttonValueString = buttonValue.toString();
            if (availableAttrsFromOtherGroups.includes(buttonValueString)) {
              // find the buttons label and enable it
              let buttonId = $(button).attr('id');
              let buttonLabel = $('label[for="' + buttonId + '"]');
              $(buttonLabel).removeClass('disabled');
            } else {
              // find the buttons label and disable it
              let buttonId = $(button).attr('id');
              let buttonLabel = $('label[for="' + buttonId + '"]');
              $(buttonLabel).addClass('disabled');
            }
          }
        }
      }
      let chosenAttributes = {};
      for (let group of $('.product__options--input .btn-group')) {
        let groupName = $(group).data('group-name');
        let groupValue = $(group).children(':checked').val();
        chosenAttributes[groupName] = groupValue;
      }
      console.log(chosenAttributes);
      findPriceAndQuantity(values_list_array, chosenAttributes);
      checkReadyToPurchase(values_list_array, chosenAttributes);
      // on click outside of the groups, we need to enable all the buttons that are disabled
      $(document).on('click', function(e){
        // if click outside of the group, enable all the buttons
        if (!$(e.target).closest('.product__options--input').length) {
          // if click is outside of the form
          //if (!$(e.target).closest('form').length) {
          $('label.disabled').removeClass('disabled');
          $('input.btn-check').prop('checked', false);
          $('#item-price').html(`
        
            <div class="">
              {% if product.get_out_of_stock %}
                <div class="product__card--price price__sale">
                  <p>Out of stock</p>
                </div>
              {% elif product.get_same_sale_price %}
                {% if product.get_sale_price_is_lower_than_store_price %}
                  <div class="product__card--price price__regular">
                    {{ product.get_lowest_store_price }}
                  </div>
                  <div class="product__card--price price__sale">
                    {{ product.get_lowest_price }}
                  </div>
                {% else %}
                  <div class="product__card--price">
                    {{ product.get_lowest_price }}
                  </div>
                {% endif %}
              {% else %}
                {% if product.get_sale_price_is_lower_than_store_price %}
                  <div class="product__card--price price__regular">
                    {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
                  </div>
                  <div class="product__card--price price__sale">
                    {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                  </div>
                {% else %}
                  <div class="product__card--price">
                    {{ product.get_lowest_price }} - {{ product.get_highest_price }}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          `);
          $(document).off('click');
          //}
        }
      })
    });

    const findPriceAndQuantity = (values_list, chosen_attributes) => {
      //[{"size-shoes":"36","Color":"red","Quantity":10,"Price":"102.00"},{"size-shoes":"35","Color":"yellow","Quantity":10,"Price":"101.00"},{"Color":"yellow","size-shoes":"38","Quantity":10,"Price":"102.00"}]
      let price = 0;
      let quantity = 0;
      for (let stockOption of values_list) {
        let is_match = true;
        for (let key in stockOption) {
          if (key != "Quantity" && key != "Price") {
            if (stockOption[key] != chosen_attributes[key]) {
              is_match = false;
            }
          }
        }
        if (is_match) {
          price = stockOption["Price"];
          quantity = stockOption["Quantity"];
        }
      }
      if (price !== 0) {
        $('.product__price').text(price);
        $('.product__price').addClass('price__sale');
        $('.product__price').addClass('product__card--price');
        
      }
      $('input[name="quantity"]').attr('max', quantity);
      itemQuantity = quantity;
      $('#minus-button').removeClass('disabled');
      $('#plus-button').removeClass('disabled');
    };
      // Control the quantity of the item
      $('#minus-button').on('click', function(e) {
        e.preventDefault();
        let quantityCheck = $('input[name="quantity"]').val();
        if (quantityCheck > 1) {
          $('input[name="quantity"]').val(parseInt(quantityCheck) - 1);
          console.log('First input of the quantity ' + quantityCheck);
          $('#minus-button').removeClass('disabled');
          $('#plus-button').removeClass('disabled');
        } else {
          $('#minus-button').addClass('disabled');
        }
      });
      // Control the plus button
      $('#plus-button').on('click', function(e) {
        e.preventDefault();
        // check if input with name="quantity" max is not reached
        let quantityCheck = $('input[name="quantity"]').val();
        if (quantityCheck < itemQuantity) {
          $('#plus-button').removeClass('disabled');
          $('input[name="quantity"]').val(parseInt(quantityCheck) + 1);
        } else {
          $('#plus-button').addClass('disabled');
        }
      });
    
    const checkReadyToPurchase = (values_list, chosen_attributes) => {
      for (let stockOption of values_list) {
        let is_match = true;
        for (let key in stockOption) {
          if (key != "Quantity" && key != "Price") {
            if (stockOption[key] != chosen_attributes[key]) {
              is_match = false;
            }
          }
          if (is_match) {
            // enable '#add-to-bag-button'
            $('#add-to-bag-button').removeClass('disabled');
          }
        }
      }
    }
    $('#add-to-bag-button').on('click', function() {
      //Check if the user selected all product__options--inputs
    
    });
  })


</script>
{% endblock %}