{% extends 'base.html' %}
{% load static %}

{% block content %}
<div data-id="{{ product.id }}" id="product">
  <div class="product__title">
    {{ product.name }}

    <div class="product__card--prices">
      {% if product.get_out_of_stock %}
        <div class="product__card--price price__sale">
          <p>Out of stock</p>
        </div>
      {% elif product.get_same_sale_price %}
        {% if product.get_sale_price_is_lower_than_store_price %}
          <div class="product__card--price price__regular">
            {{ product.get_lowest_store_price }}
          </div>
          <div class="product__card--price price__sale">
            {{ product.get_lowest_price }}
          </div>
        {% else %}
          <div class="product__card--price">
            {{ product.get_lowest_price }}
          </div>
        {% endif %}
      {% else %}
        {% if product.get_sale_price_is_lower_than_store_price %}
          <div class="product__card--price price__regular">
            {{ product.get_lowest_store_price }} - {{ product.get_highest_store_price }}
          </div>
          <div class="product__card--price price__sale">
            {{ product.get_lowest_price }} - {{ product.get_highest_price }}
          </div>
        {% else %}
          <div class="product__card--price">
            {{ product.get_lowest_price }} - {{ product.get_highest_price }}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="product__images">
      {% if product.images.all %}
        {% for image in product.images.all %}
          <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}">
        {% endfor %}
      {% else %}
        <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
      {% endif %}
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
  {% comment %} <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"> {% endcomment %}
    {% if active_images and active_images|length > 1 %}
      {% comment %} <div class="carousel-indicators"> {% endcomment %}
      {% for image in active_images %}
      {% comment %} get first image {% endcomment %}
        {% comment %} {% if active_images|first == image %} {% endcomment %}
        {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> {% endcomment %}
        {% comment %} {% else %} {% endcomment %}
        {% comment %} <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      {% endfor %}
      {% comment %} </div> {% endcomment %}
    {% endif %}
    <div class="carousel-inner">
      {% if active_images and active_images|length > 1 %}
        {% for image in active_images %}
          {% if image.default_image %}
            <div class="carousel-item active">
              <img class="block align-middle" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
            </div>
          {% elif image.is_active %}
            <div class="carousel-item align-middle">
              <img class="block  align-middle" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
            </div>
          {% endif %}
        {% endfor %}
      {% elif active_images and active_images|length == 1 %}
        {% for image in active_images %}
          <div class="carousel-item active">
            <img class="d-block" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
          </div>
        {% endfor %}
      {% else %}
        <div class="carousel-item active">
          <img src="{% static 'images/default_product_image.png' %}" alt="default product Image">
        </div>
      {% endif %}
    </div>
    {% if active_images and active_images|length > 1 %}
      {% comment %} <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true">
          <i class="fas fa-chevron-right"></i>
        </span>
        <span class="sr-only">Next</span>
      </a> {% endcomment %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <i class="fas fa-chevron-right"></i>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
  </div>

  <div class="product__description">
    <p>{{ product.description }}</p>
  </div>
{% comment %} 
  <div class="product__options">
    {% for k,v in attribute_values_dict.items %}
      <p data-attribute="{{ k }}">{{ k }}</p>
      <div class="product__options--input">
        <div class="btn-group product__options--select" role="group" aria-label="Basic example">
          {% for item in v %}
            {% if item in values_set %}
              {% if item in values_set_active %}
                <button type="button" class="btn btn-secondary product__option active" value="{{ item }}" data-attributevalue="{{ k }}">
                  {{ item }}
                </button>
              {% else %}
                <button disabled type="button" class="btn btn-secondary product__option" value="{{ item }}" data-attributevalue="{{ k }}">
                  {{ item }}
                </button>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    {% endfor %}
  </div> {% endcomment %}
  {% comment %} group nput {% endcomment %}
  <div class="product__options">
    {% for k,v in attribute_values_dict.items %}
      <p data-attribute="{{ k }}">{{ k }}</p>
      <div class="product__options--input">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" data-group-name="{{ k }}">
          {% for item in v %}
            {% if item in values_set %}
              {% if item in values_set_active %}
                <input type="radio" class="btn-check" name="{{ k }}" id="{{ item }}" value="{{ item }}" autocomplete="off">
                <label class="btn btn-outline-primary" for="{{ item }}">{{ item }}</label>
              {% else %}
                <input type="radio" class="btn-check" name="{{ k }}" id="{{ item }}" value="{{ item }}" autocomplete="off">
                <label class="btn btn-outline-primary disabled" for="{{ item }}">{{ item }}</label>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    {% endfor %}
  </div>
    {% comment %} <div class="product__options">
      {% for k,v in attribute_values_dict.items %}
        <div class="product__options--input">
        <p data-attribute="{{ k }}">{{ k }}</p>
          <select name="product__options--select" class="product__options--select" data-attributevalue="{{ k }}">
            {% for item in v %}
              {% if item in values_set %}
                {% if item in values_set_active %}
                  <option value="{{ item }}" class="product__option">
                    {{ item }}
                  </option>
                {% else %}
                  <option value="{{ item }}" class="product__option--disable" disabled>
                    {{ item }}
                  </option>
                {% endif %}
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    {% endfor %} {% endcomment %}
    <div class="product__options--quantity">
      <p>Quantity</p>
      <div class="product__options--quantity-input">
        <input type="number" name="quantity" value="1" min="1" max="{{ product.get_stock_quantity }}">
      </div>
    </div>
<div class="products__all">
{% for product_inventory_each in products_inventory %}
<div class="product__card">
{{ product_inventory_each.sku }}
{{ product_inventory_each.upc }}
{{ product_inventory_each.product }}
{{ product_inventory_each.product_type }}

{% for attribute in product_inventory_each.product_type.product_type_attributes.all %}
{{ attribute }}
{% endfor %}

{% for option in product_inventory_each.productattributevalues.all %}
{{ option.attributevalues }}
{% endfor %}
{{ product_inventory_each.retail_price }}
{{ product_inventory_each.store_price }}
{{ product_inventory_each.sale_price }}
{{ product_inventory_each.weight }}
{{ product_inventory_each.is_active }}
</div>
{% endfor %}
</div>
</div>
<script>
  $(document).ready(function() {
    let product_id = $('#product').data('id');
    console.log(product_id);
    let values_list = JSON.stringify({{ values_list|safe }});
    console.log(values_list);
    // convert to array
    let values_list_array = JSON.parse(values_list);
    console.log(values_list_array);
    

</script>
{% endblock %}