{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="e-commerce website for an business to have their online presence, for the customers to find all product online, starting from fresh food and finishing with electronics and fashionable clothes. Ths website has constant sale and discounts and additional discounts for loyal customers" />
    <meta name="keywords"
        content="shopping, online shopping, eshop, clothing stores, online shop, shopping online, online shopping sites, shop online, furniture online, ecommerce website, online boutiques, clothes shops, clothes online, shopping sites, online shopping websites, online stores, clothing websites, online sale, online furniture, online clothes shopping, cheap online shopping, online clothing, online groceries, fresh groceries, groceries online, shopping websites, boy online, toys online, fashionable clothes, fashion, sale online, free shipping, fast delivery, women clothes, fashion designing, fashion designer, men clothes, mens fashion, fashion house, fashion week, fashion dresses, fashion style, accessory, fashion trends, buy food online, food online, food & beverage, food and drink, food & drinks, alcohol, cheap alcohol, health, healthy food, healthy meal, cheap electronics, tv, mobile phones, affordable price, healthy eating, workout, sport, pets, pet care, cosmetics." />
    <meta name="author" content="Iuliia Konovalova" />
    {% comment %} Favicon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#2fcd99">
    <meta name="msapplication-TileColor" content="#2fcd99">
    <meta name="theme-color" content="#2fcd99">
  {% endblock%}

  {% block extra_meta %}
  {% endblock%}

  {% block corecss %}
    {% comment %} Link to css {% endcomment %}
    <!-- jquery ui css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock%}

  {% block extra_css %}
  {% endblock%}

  {% block jslibraries %}
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}
  {% block corejs %}
  {% endblock%}

  {% block extra_js %}
  {% endblock%}

  <title>WoWder! {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="header">
    {% comment %} Navbar {% endcomment %}
    <nav class="navbar navbar__customer">
      {% comment %} Navbar content {% endcomment %}
      {% comment %} Logo container {% endcomment %}
      <a href="{% url 'home' %}" aria-label="Go to Home page" class="logo__container">
        <span>WoW</span>der!
      </a>
      <ul class="navbar__items">
        {% comment %} {% if not request.user.is_authenticated %} {% endcomment %}
          <li class="navbar__item">
            {% comment %} Product in Store {% endcomment %}
            <a href="{% url 'products_list' %}" aria-label="Go to Products page" class="account__option">
              <i class="fas fa-store"></i>
              <span class="navbar__item--name">Store</span>
            </a>
          </li>
          <li class="navbar__item">
            <a href="{% url 'wishlist_display' %}" aria-label="Go to Wishlist page" class="account__option">
              <i class="fas fa-heart"></i>
              <span class="navbar__item--name">Wishlist</span>
            </a>
          </li>
          <li class="navbar__item">
            {% comment %} Bag {% endcomment %}
            <a href="{% url 'bag_display' %}" aria-label="Go to Bag page" class="account__option account__option--bag">
              <i class="fas fa-shopping-bag"></i><span id="shopping-bag-count">{{ product_count }}</span>
              <div class="navbar__item--name">Bag</div>
            </a>
          </li>
        {% if request.user.is_authenticated %}
          <li class="navbar__item">
            <a href="{% url 'my_profile' user=request.user %}" aria-label="Go to Profile page" class="account__option">
              <div class="profile__avatar--navbar">
                {% if user.profile.avatar %}
                  <img src="{{ user.profile.avatar.url }}" alt="avatar" class="avatar">
                {% else %}
                  <img src="{% static 'images/default_avatar.svg' %}" alt="avatar" class="avatar">
                {% endif %}
              </div>
              <span class="navbar__item--name">Profile</span>
            </a>
          </li>
          {% comment %} logout {% endcomment %}
          <li class="navbar__item">
            <a href="{% url 'account_logout' %}" aria-label="Logout" class="">
              <i class="fas fa-sign-out-alt"></i>
              <span class="navbar__item--name">Logout</span>
            </a>
          </li>
        {% elif not request.user.is_authenticated %}
          <li class="navbar__item">
            <a href="{% url 'account_signup' %}" class="account__option">SignUp</a>
          </li>
          <li class="navbar__item">
            <a href="{% url 'account_login' %}" class="account__option">Login</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% if request.user.is_authenticated and not request.user.profile.role.id == 1 %}
      {% comment %} Show navbar for store personnel {% endcomment %}
      <div class="navbar__admin">
        <nav class="navbar navbar-expand-lg navbar__items--admin">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Personnel dashboard
                  </a>
                  <ul class="dropdown-menu dropdown__items--admin" aria-labelledby="navbarDropdownMenuLink">
                    <li class="navbar__item--admin">
                      <a href="{% url 'promotions_list' %}" aria-label="Go to Promotions page" class="account__option">
                        <i class="fas fa-gift"></i>
                        Promo
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'add_promo_email' %}" aria-label="Go to Promotions page" class="account__option">
                        <i class="fas fa-envelope"></i>
                        Email
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'categories_table' %}" aria-label="Go to Categories page" class="account__option">
                        <i class="fas fa-list-ul"></i>
                        Categories
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'brands_table' %}" aria-label="Go to Brands page" class="account__option">
                        <i class="fas fa-layer-group"></i>
                        Brands
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'tags_table' %}" aria-label="Go to Tags page" class="account__option">
                        <i class="fas fa-tag"></i>
                        Tags
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'product_types_table' %}" aria-label="Go to Product Types page"
                        class="account__option">
                        <i class="fas fa-boxes"></i>
                        Product Types
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'product_type_attributes' %}" aria-label="Go to Product Attributes page"
                        class="account__option">
                        <i class="fas fa-boxes"></i>
                        Product Attributes
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'attribute_values' %}" aria-label="Go to Product Attributes Values page"
                        class="account__option">
                        <i class="fas fa-boxes"></i>
                        Attributes Values
                      </a>
                    </li>
                    <!--  -->
                    <li class="navbar__item--admin">
                      <a href="{% url 'products_table' %}" aria-label="Go to Products page" class="account__option">
                        <i class="fas fa-table"></i>
                        Products
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'product_inventories_table' %}" aria-label="Go to Units page" class="account__option">
                        <i class="far fa-folder"></i>
                        Units
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'stock' %}" aria-label="Go to stock page" class="account__option">
                        <i class="fas fa-warehouse"></i>
                        Stock
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'orders' %}" aria-label="Go to Orders page" class="account__option">
                        <i class="fas fa-truck"></i>
                        Orders
                      </a>
                    </li>
                    <li class="navbar__item--admin">
                      <a href="{% url 'stock_requests_list' %}" aria-label="Go to Stock Requests page" class="account__option">
                        <i class="fas fa-exclamation-circle"></i>
                        Stock Requests
                      </a>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    {% endif %}
  </header>
  {% comment %} Main content container {% endcomment %}
  <main class="main">
    <div class="content__container">
      {% comment %} Messages {% endcomment %}
      {% if messages %}
        <div class="message-container" id="messages-notes-main">
          {% for message in messages %}
            <div class="message-container__message">
              <p class="message-container__message--text">{{ message }}</p>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% comment %} Footer {% endcomment %}
  <footer class="footer">
    <div class="footer__main">
      <!-- Logo -->
      <div class="footer__logo--container">
        <div class="logo__container">
          <span>WoW</span>der!
        </div>
      </div>
      <!-- Links container -->
      <div class="footer__links--container">
        <!-- Contact info -->
        <ul class="footer__links">
          <li class="footer__link phone">
            <div class="footer__icon">
              <i class="fas fa-phone"></i>
            </div>
            <div>+82-132-23-1197</div>
          </li>
          <li class="footer__link email">
            <div class="footer__icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div>wow@der.com</div>
          </li>
        </ul>
        <!-- More info links -->
        <ul class="footer__links">
          <li class="footer__link">
            <a href="{% url 'home' %}" aria-label="Go to Home page">About us</a>
          </li>
          <li class="footer__link">
            <a href="https://www.linkedin.com/jobs/" rel="noopener" target="_blank" aria-label="Visit linkedin page with jobs offers">Jobs</a>
          </li>
          {% comment %} <li class="footer__link">
            <a href="#">Press</a>
          </li> {% endcomment %}
          <li class="footer__link">
            <a href="{% url 'products_list' %}" aria-label="Go to Products page">Products</a>
          </li>
        </ul>
        <!-- Webpage links -->
        <ul class="footer__links">
          <li class="footer__link">
            <a href="mailto:JuliiaKonn@protonmail.com" aria-label="Go to email page">
              Contact Us
            </a>
          </li>
          <li class="footer__link">
            <a href="https://www.privacypolicygenerator.info/live.php?token=rEZ3YuASkCilUeSMDoqbmYILRRSo6wth" aria-label="Go to view WoWder privacy policy" target="_blank" rel="noopener">
              Privacy
            </a>
          </li>
        </ul>
        <!-- Social links -->
        <ul class="footer__links--social footer__links">
          <li class="footer__link--social">
            <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="footer__link--social">
            <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="footer__link--social">
            <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Attributions -->
    <ul class="attribution">
      <li class="credits">
        Created by
        <a href="https://github.com/IuliiaKonovalova" rel="noopener" target="_blank"
          aria-label="Visit Iuliia Konovalova github page">
          Iuliia Konovalova
        </a>.
      </li>
    </ul>
  </footer>
  {% block postloadjs %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}" type="module"></script>

  {% endblock %}
  {% block postloadjs_extra %}
  {% endblock %}
</body>
</html>