{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  {% comment %} Required meta tags {% endcomment %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="Iuliia Konovalova" />
  {% comment %} Favicon {% endcomment %}
  {% endblock%}

  {% block extra_meta %}
  {% endblock%}

  {% block corecss %}
  {% comment %} Link to css {% endcomment %}
  <!-- jquery ui css -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock%}

  {% block extra_css %}
  {% endblock%}



  {% block jslibraries %}
  <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}
  {% block corejs %}
  {% endblock%}

  {% block extra_js %}
  {% endblock%}

  <title>E-commerce {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="header">
    {% comment %} Navbar {% endcomment %}
    <nav class="navbar">
      {% comment %} Logo container {% endcomment %}
      <div class="logo__container">

      </div>
      {% comment %} Navbar content {% endcomment %}
      <ul class="navbar__items">
        {% if not request.user.is_authenticated %}
        <li class="navbar__item">
          <a href="{% url 'account_signup' %}" class="">SignUp</a>
          <a href="{% url 'account_login' %}" class="">Login</a>
        </li>
        {% endif %}
        {% comment %} Links for school members {% endcomment %}
        {% if request.user.is_authenticated %}
        <li class="navbar__item">
          <a href="{% url 'my_profile' user=request.user %}" aria-label="Go to Profile page" class="account__option">
            Profile
          </a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'account_logout' %}" aria-label="Logout" class="">
            Logout
          </a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'wishlist_display' %}" aria-label="Go to Wishlist page" class="account__option">
            Wishlist
          </a>
        </li>
        {% comment %} Links acccessable to every member {% endcomment %}
        {% else %}
        <li class="navbar__item ">

        </li>
        {% endif %}
        <li class="navbar__item">
          <a href="{% url 'products_list' %}" aria-label="Go to Products page" class="account__option">
            Products
          </a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'bag_display' %}" aria-label="Go to Bag page" class="account__option">
            Bag
            <i class="fas fa-shopping-bag"></i><span id="shopping-bag-count">{{ product_count }}</span>
          </a>
        </li>
      </ul>
    </nav>
      {% if request.user.is_authenticated and not request.user == 1 %}
      <ul class="subnavbar__items">
        <li class="navbar__item">
          <a href="{% url 'promotions_list' %}" aria-label="Go to Promotions page" class="account__option">
            Promotions
            <i class="fas fa-gift"></i>
          </a>
        </li>
      </ul>
      {% endif %}
  </header>
  {% comment %} Main content container {% endcomment %}
  <main class="main">
    <div class="content__container">
      {% comment %} Messages {% endcomment %}
      {% if messages %}
      <div class="message-container" id="messages-notes">
        {% for message in messages %}
        <div class="message-container__message">
          <p class="message-container__message--text">{{ message }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% comment %} Footer {% endcomment %}
  <footer class="footer">

  </footer>
  {% block postloadjs %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}" type="module"></script>

  {% endblock %}
  {% block postloadjs_extra %}
  {% endblock %}
</body>

</html>