{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
      {% comment %} Required meta tags {% endcomment %}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="author" content="Iuliia Konovalova" />
      {% comment %} Favicon {% endcomment %}
    {% endblock%}

    {% block extra_meta %}
    {% endblock%}

    {% block corecss %}
      {% comment %} Link to css {% endcomment %}
      <!-- jquery ui css -->
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock%}

    {% block extra_css %}
    {% endblock%}



    {% block jslibraries %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block corejs %}
      {% comment %} Link to fontawesome {% endcomment %}
    {% endblock%}

    {% block extra_js %}
    {% endblock%}

    <title>E-commerce {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header class="header">
      {% comment %} Navbar {% endcomment %}
      <nav class="navbar">
      {% comment %} Logo container {% endcomment %}
        <div class="logo__container">
          
        </div>
        {% comment %} Navbar content {% endcomment %}
        <ul class="navbar__items">
          {% if not request.user.is_authenticated %}
            <li class="navbar__item">
              <a href="{% url 'account_signup' %}" class="">SignUp</a>
              <a href="{% url 'account_login' %}" class="">Login</a>
            </li>
          {% endif %}
          {% comment %} Links for school members {% endcomment %}
          {% if request.user.is_authenticated %}
            <li class="navbar__item">
              <a href="{% url 'my_profile' user=request.user %}" aria-label="Go to Profile page"
                class="account__option">
                Profile
              </a>
            </li>
            <li class="navbar__item">
              <a href="{% url 'account_logout' %}" aria-label="Logout" class="">
                Logout
              </a>
            </li>
          {% comment %} Links acccessable to every member {% endcomment %}
          {% else %}
            <li class="navbar__item ">
              
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% comment %} Main content container {% endcomment %}
    <main class="main">
      <div class="content__container">
      {% comment %} Messages {% endcomment %}
        {% if messages %}
          <div class="message-container" id="messages-notes">
            {% for message in messages %}
            <div class="message-container__message">
              <p class="message-container__message--text">{{ message }}</p>
            </div>
            {% endfor %}
          </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>
    </main>
    {% comment %} Footer {% endcomment %}
    <footer class="footer">
      
    </footer>
    {% block postloadjs %}
      <script src="{% static 'js/base.js' %}" type="module"></script>
    {% endblock %}
  </body>
</html>