{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <style>
    label {
      font-weight:900;
    }
    .form-label {
    margin-bottom: 0.2em !important;
    margin-top:0.5rem !important;
    }

    .account-form input {
      border: 2px solid #ccc;
      height: calc(2em + .75rem + 2px);
    }

    .form-control {
      border: 2px solid #ccc;
    }

    .account-form input:focus {
      border-color: #1497ff;
      box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }

    .payment__form {
      background-color: #ffffff !important;
      padding: 1.2em !important;
      border-radius:  0.5em;
      box-shadow: 0 0.5rem 1rem rgba(37, 37, 37, 0.637);
    }

    .payment__form--title {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  </style>
{% endblock %}

{% comment %} Extra Title {% endcomment %}
{% block extra_title %}Payment{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-12 form">
        <div class="login d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div id="payment-form-container" class="col-12 col-lg-6 mx-auto payment__form">
                <h1 class="payment__form--title">Billing address</h1>
                {% if not primary_address and not my_profile%}
                  <p class="alert alert-danger">To make purchases faster, consider setting up primary address and your full name in your profile.</p>
                {% elif not my_profile and primary_address %}
                  <p class="alert alert-danger">To make purchases faster, consider to add your full name in your profile</p>
                {% elif not primary_address and my_profile %}
                  <p class="alert alert-danger">To make purchases faster, consider setting up primary address in your profile.</p>
                {% endif %}
                <form id="payment-form">
                  <div class="row g-3">
                    <div class="col-sm-7">
                      <label for="customer-name" class="form-label">Customer Name</label>
                      {% if not my_profile.first_name == None and not my_profile.last_name == None %}
                        <input type="text" value="{{ my_profile.first_name }} {{ my_profile.last_name }}" class="form-control" id="customer-name" placeholder="" required>
                      {% elif not my_profile.first_name == None and my_profile.last_name == None %}
                        <input type="text" value="{{ my_profile.first_name }}" class="form-control" id="customer-name" placeholder="" required>
                      {% elif my_profile.first_name == None and not my_profile.last_name == None %}
                        <input type="text" value="{{ my_profile.last_name }}" class="form-control" id="customer-name" placeholder="" required>
                      {% else %}
                        <input type="text" value="" class="form-control" id="customer-name" placeholder="" required>
                      {% endif %}
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                    </div>
                  </div>
                    <div class="col-12">
                      <label for="customer-email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                      <input type="email" value="{{ my_profile.user.email }}" class="form-control" id="customer-email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="customer-phone" class="form-label">Phone <span class="text-muted">(Optional)</span></label>
                      <input type="text" value="{{ primary_address.phone_number }}" class="form-control" id="customer-phone" placeholder="___ ___ ___">
                      <div class="invalid-feedback">
                        Please enter a valid phone number.
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="customer-address" class="form-label">Address</label>
                      <input type="text" value="{{ primary_address.address_line }}" class="form-control" id="customer-address" placeholder="1234 Main St" required>
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="customer-address-2" class="form-label">Address 2 <span
                          class="text-muted">(Optional)</span></label>
                      <input type="text" class="form-control" id="customer-address-2" placeholder="Apartment or suite">
                    </div>
                    <div class="col-12">
                      <label for="customer-country" class="form-label">Country</label>
                      <input type="text" value="{{ primary_address.country }}" class="form-control" id="customer-country" placeholder="Country" required>
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="customer-region" class="form-label">State/County/Region</label>
                      <input type="text" value="{{ primary_address.county_region }}" class="form-control" id="customer-region" placeholder="State/County/Region" required>
                      <div class="invalid-feedback">
                        Please provide a valid region/county/state.
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="customer-city" class="form-label">City</label>
                      <input type="text" value="{{ primary_address.city }}" class="form-control" id="customer-city" placeholder="City" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    <div class="col-12">
                      <label for="post-code" class="form-label">Postcode</label>
                      <input type="text" value="{{ primary_address.zip_code }}" class="form-control" id="post-code" placeholder="Postcode" required>
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">
                  <h4 class="mb-3">Payment</h4>
                  <label for="card-element">Credit or debit card</label>
                  <div id="card-element" class="form-control form-control-payment">
                    <!-- Payment elements will appear here -->
                  </div>
                  <hr class="my-4">
                  <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}" data-sum="{{ total_sum }}">
                    Pay ${{ total_sum }}
                  </button>
                </form>
                <!-- Error messages in this element -->
                <div id="card-errors" class="alert-danger" role="alert"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs_extra %}
  <script>
      let CSRF_TOKEN = '{{ csrf_token }}';
      let stripe_public_key = '{{ stripe_public_key }}';
  </script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/payment.js' %}" data-rel-js></script>
{% endblock %}